<template>
  <v-main>
    <v-container>
      <v-row align="center" align-content="center" justify="center" class="my-5 pa-0">
        <v-col cols="12" sm="4">
          <div class="my-5 main--text text-left font-weight-bold text-h3">Contact Us</div>
          <v-form ref="form">
            <label for="name" class="font-weight-light text-h6">Name</label>
            <v-text-field
              v-model="name"
              class="mt-2"
              color="main"
              id="name"
              dense
              placeholder="Your name"
              outlined
            ></v-text-field>
            <label for="email" class="font-weight-light text-h6">Email</label>
            <v-text-field
              v-model="email"
              class="mt-2"
              color="main"
              id="email"
              type="email"
              dense
              placeholder="Your email address"
              outlined
            ></v-text-field>
            <label for="cEmail" class="font-weight-light text-h6">Confirm Email</label>
            <v-text-field
              v-model="cEmail"
              class="mt-2"
              color="main"
              id="cEmail"
              type="email"
              dense
              placeholder="Confirm your email"
              outlined
            ></v-text-field>
            <v-container v-if="!confirmEmail">
              <v-alert
                dense
                text
                dark
                dismissible
                v-model="error"
                type="error"
                v-text="error_message"
              />
            </v-container>
            <label for="department" class="font-weight-light text-h6">Department</label>
            <v-select
              v-model="selected"
              item-color="main"
              :items="items"
              class="mt-2"
              color="main"
              id="department"
              dense
              outlined
              @input="(v) => (this.selected = v)"
            ></v-select>
            <label for="message" class="font-weight-light text-h6">Message</label>
            <v-textarea
              v-model="message"
              class="mt-2"
              color="main"
              id="maessage"
              placeholder="Your message..."
              outlined
            ></v-textarea>
            <v-hover v-slot:default="{ hover }">
              <v-btn :color="`${hover ? 'main2' : 'main'}`" dark large @click="submit">Submit</v-btn>
            </v-hover>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
    <!-- <div class="text-center ma-2">
      <v-snackbar :color="colour" v-model="snackbar">
        {{ text }}
        <v-btn text @click="snackbar = false">Close</v-btn>
      </v-snackbar>
    </div>-->
  </v-main>
</template>
<script>
export default {
  data() {
    return {
      name: "",
      email: "",
      cEmail: "",
      message: "",
      selected: "",
      error_message: "Emails do not match",
      error: false,
      items: ["Customer Service", "Donations", "Web Master"]
      // colour: "",
      // text: "",
      // snackbar: false
    };
  },
  computed: {
    confirmEmail() {
      if (this.email === this.cEmail) {
        return true;
      } else {
        this.error = true;
        return false;
      }
    }
  },
  methods: {
    submit() {
      try {
        let data = {
          senderName: this.name,
          senderEmail: this.email,
          // senderLocation: "default",
          text: this.message,
          subject: this.selected,
          new: true
        };
        this.$store.dispatch("messages/sendMessage", data).then(res => {
          // console.log("yhe", res);
        });
        this.$refs.form.reset();
        //sent message UI TODO:
        // this.snackbar = true;
        // this.colour = "green";
        // this.text = "Message successfully sent.";
      } catch (err) {
        //error message UI TODO: FIXME:
        // this.snackbar = true;
        // this.colour = "red";
        // this.text = "Error! Can't Send Message.";
        console.log(err);
      }
    }
  }
};
</script>

