<template>
  <v-tabs centered>
    <v-tab>Peace and Justice</v-tab>
    <v-tab>Laity and Family</v-tab>
    <v-tab>Evangelization and Cathecism</v-tab>
    <v-tab>Youth Activities</v-tab>

    <v-tab-item>
      <v-card flat>
        <v-row justify="center">
          <v-col cols="10">
            <v-card-text class="text-justify">
              <div class="my-5 main--text text-left font-weight-bold text-h3">Peace and Justice</div>

              <p>
                Ethiopian Catholic Church – Soddo Catholic Secretariat
                implementing three- years Community Empowerment for Social
                Transformation, peaceful coexistence through Justice, Peace and
                Reconciliation Project which is funded by DKA Austria. The
                project is planned to be implemented in Dawro zone at five
                Parishes (Bacho, Gassa Chare, Loma, Waka and Tarcha) and Wolaita
                zone at five Parishes (Waja, Humbo Abala, Bughe Genet, Bitana
                Dimitu and Eddo Holleta) in order to contribute towards ensuring
                sustainable and peaceful coexistence among ethnic and different
                religious groups in the target areas. The project had specific
                objectives to implement activities accordingly and they were:
                <v-list>
                  <li>
                    to restore broken relationships between and among different
                    communities,
                  </li>
                  <li>
                    to strengthen Capacity of Religious and other institutions in
                    reconciliation and peace building and
                  </li>
                  <li>
                    to improve livelihood involvement of socially and economically
                    marginalized women and youths at targeted area.
                  </li>
                </v-list>

                <br />
                <br />
              </p>
              <p>
                The estimated budget to accomplish the project objectives was
                90,000 EURO (Equivalent of 2,880,000 ETB). It was planned to be
                implemented from July 1, 2019 to June 30, 2022. The Project is
                planned to support target groups of the project (leaders of the
                areas where we work by equipping them with the skills and
                attitudes of promoting Justice and Peace, facilitating
                reconciliation and balanced community development) and the
                primary beneficiary of the project are Menna and Manja minority
                community who live in Dawro zone and ethnic group in Wolaita
                zone under Soddo Diocese who are considered as human refuse,
                rejected of society from any kind of community services, every
                evil deed associated with these minority groups . Peace and
                justice is a way of thinking and acting which promotes
                nonviolent solutions to everyday problems and thereby
                contributes to a civil society. It promotes an end to the
                violence of poverty.
              </p>
              <p>
                The main mission of our organisation Justice and Peace is to
                build a more peaceful, fairer, and secure world. Our action is
                focused on the promotion of human rights and justice as factors
                of a sustainable peace and development. The prevention and
                management of conflict and post-conflict situations are at the
                heart of our work. Justice and Peace encourages the actors to
                "understand in order to act better” for peace and justice, here
                and elsewhere. The aim of its work is to develop an awareness
                and critical knowledge of the realities of society, based in
                particular on the methodologies of lifelong education and
                education for global citizenship and solidarity, through
                analysis, awareness raising, trainings and political advocacy.
              </p>
              <p>
                Justice and Peace encourages individual and collective action by
                citizens as actors in society for the promotion of peace and
                justice in the world. It seeks to strengthen citizen
                responsibility and participation, both locally and globally. Our
                organization advocates human rights, social justice and
                environmental protection. We therefore work for the emergence of
                a sustainable model accessible to all, based on the values of
                peace, justice, solidarity and cooperation among peoples.
              </p>
            </v-card-text>
          </v-col>
        </v-row>
      </v-card>
    </v-tab-item>
    <v-tab-item>
      <v-card flat>
        <v-row justify="center">
          <v-col cols="8"></v-col>
        </v-row>
      </v-card>
    </v-tab-item>
    <v-tab-item>
      <v-card flat>
        <v-row justify="center">
          <v-col cols="8"></v-col>
        </v-row>
      </v-card>
    </v-tab-item>
  </v-tabs>
</template>
<script>
export default {};
</script>