<template>
  <div>
    <v-row class="mt-10 px-md-16 mt-10 mx-md-16" align="center" justify="center">
      <v-col>
        <v-list>
          <v-list-item v-for="item in notices" :key="item.by">
            <v-hover v-slot:default="{hover}">
              <v-card
                class="mt-12 rounded-xl"
                flat
                :elevation="hover?3:16"
                @click="gotoNotice(item.uid)"
              >
                <v-row no-gutters>
                  <v-col cols="12" md="2" style="max-height:200px;">
                    <v-avatar width="100%" height="100%" tile class="rounded-xl">
                      <v-img :src="`${photo}${item.photo}`"></v-img>
                    </v-avatar>
                  </v-col>
                  <v-col cols="12" md="10">
                    <v-card-title
                      class="font-weight-bold text-md-h4 text-sm-subtitle-1"
                    >{{item.title}}</v-card-title>
                    <!-- <v-card-subtitle
                      class="text-sm-caption"
                    >Established in {{new Date(item.estAt).getFullYear()}}</v-card-subtitle>-->
                    <v-card-subtitle class="text-sm-caption">Posted In : {{item.logTime}}</v-card-subtitle>
                  </v-col>
                </v-row>
              </v-card>
            </v-hover>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
    <div class="text-center my-10">
      <v-hover v-slot:default="{ hover }">
        <v-btn
          :disabled="checkImageCount"
          :class="` text-capitalize ml-2  ${hover ? 'white--text': ''}`"
          color="main"
          :outlined="Boolean(parseInt(`${hover ? 0 : 1}`))"
          rounded
          x-large
          @click="load"
        >laod more</v-btn>
      </v-hover>
    </div>
  </div>
</template>
<style scoped>
</style>
<script>
import axios from "axios";
export default {
  data() {
    return {
      notices: [],
      totalCount: 0,
      itemCount: 8,
      photo: process.env.PHOTO_URL,
      baseUrl: process.env.BASE_URL
    };
  },
  mounted() {
    this.fetchNotices();
  },
  computed: {
    checkImageCount() {
      return this.totalCount > this.itemCount ? false : true;
    },
    imageWidth() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "330";
        case "sm":
          return "330";
        case "md":
          return "100%";
        case "lg":
          return "100%";
        case "xl":
          return "100%";
      }
    }
  },
  methods: {
    load() {
      this.itemCount = this.itemCount + 8;
      this.fetchNotices();
    },
    gotoNotice(uid) {
      this.$router.push(`/vacancy-and-announcement/${uid}`);
    },
    async fetchNotices() {
      try {
        const url = ` ${this.baseUrl}/notices?filter[limit]=${this.itemCount}`;
        let res = await axios.get(url);
        this.$store.dispatch("vacannounce/getNotices");
        this.totalCount = res.headers["x-total-count"];
        this.notices = res.data;
      } catch (err) {
        console.log(err);
      }
    }
  }
};
</script>