<template>
  <v-main>
    <v-container>
      <v-row align="center" align-content="center" justify="center" class="my-5 pa-0">
        <v-col cols="12" sm="4">
          <div class="my-5 main--text text-left font-weight-bold text-h3">Complaint and Feedback</div>
          <div
            class="mb-4"
          >if you have any Complaints and comments, please don't hesitate to contact us.</div>
          <div class="mb-4">Tel :- +251-90-462-5670</div>
          <div class="mb-4">Email :- complaint.soddo@gmail.com</div>
          <label for="subject" class="font-weight-light text-h6">Name</label>
          <v-text-field
            v-model="name"
            class="mt-2"
            color="main"
            id="Name"
            placeholder="Name (*optional)"
            outlined
            :rules="txtRules"
          ></v-text-field>
          <label for="subject" class="font-weight-light text-h6">Phone Number</label>
          <v-text-field
            v-model="phone"
            class="mt-2"
            color="main"
            id="Phone Number"
            placeholder="Phone Number (*optional)"
            outlined
            :rules="txtRules"
          ></v-text-field>
          <v-form ref="form" v-model="valid">
            <label for="subject" class="font-weight-light text-h6">Subject</label>
            <v-text-field
              v-model="subject"
              class="mt-2"
              color="main"
              id="subject"
              placeholder="Subject"
              outlined
              :rules="txtRules"
            ></v-text-field>
            <label for="message" class="font-weight-light text-h6">Message</label>
            <v-textarea
              v-model="message"
              class="mt-2"
              color="main"
              id="message"
              placeholder="Your Complaints(Comments)..."
              outlined
              :rules="txtRules"
            ></v-textarea>
            <v-hover v-slot:default="{ hover }">
              <v-btn
                :color="`${hover ? 'main2' : 'main'}`"
                :disabled="!valid"
                dark
                large
                @click="submit"
              >Submit</v-btn>
            </v-hover>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
    <div class="text-center ma-2">
      <v-snackbar :color="colour" v-model="snackbar">
        {{ text }}
        <v-btn text @click="snackbar = false">Close</v-btn>
      </v-snackbar>
    </div>
  </v-main>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      user: {
        email: "complaint.soddo@gmail.com", //TODO:
        name: "Complaint" //TODO:
      },
      baseUrl: process.env.BASE_URL,
      subject: "",
      name: "",
      phone: "",
      message: "",
      valid: true,
      txtRules: [txt => (txt && txt.length > 0) || "please write something"],
      colour: "",
      text: "",
      snackbar: false
    };
  },
  methods: {
    async submit() {
      let data = JSON.stringify({
        user: this.user,
        text: this.message,
        subject: this.subject,
        custName: this.name,
        custPhone: this.phone
      });

      try {
        let res = await axios.get(
          `${this.baseUrl}/messages/send-email-for-Customer?emailInfo=${data}`
        );
        if (res.status === 204) {
          //sent message UI TODO:
          this.snackbar = true;
          this.colour = "green";
          this.text = "Message successfully sent.";
          //clear
          this.subject = "";
          this.message = "";
        }
      } catch (err) {
        console.log(err);
        //error message UI TODO:
        this.snackbar = true;
        this.colour = "red";
        this.text = "Error! Can't Send Message.";
        //clear
        this.subject = "";
        this.message = "";
      }
    }
  }
};
</script>