<template>
  <customTable :headers="headers" :info="info" />
</template>

<script>
import customTable from "~/components/customTable";
// import axios from "axios";
// import { mapActions } from "vuex";
export default {
  layout: "admin_main",
  middleware: "auth-admin",
  data() {
    return {
      info: { mode: "vacannounce", icon: "mdi-bullhorn", name: "Photos" },
      headers: [
        {
          text: "Title",
          align: "start",
          value: "title"
        },
        {
          text: "Description",
          value: "description",
          sortable: false,
          align: "start"
        },
        // { text: "By", value: "by" },
        { text: "Type", value: "type", sortable: false },
        { text: "Actions", value: "actions", sortable: false }
      ]
    };
  },
  // mounted() {
  //   this.loadItems();
  // },
  // methods: {
  //   loadItems() {
  //     this.$store.dispatch("items/getItems", this.info.mode);
  //   },
  // },
  components: {
    customTable
  }
};
</script>