<template>
  <div class="pt-16" style="background-color:#fafafa;height:100vh">
    <v-card class=" mx-auto" dense max-width="350" flat>
      <v-card-title>
        <v-row justify="center">
          <div>
            <v-img height="90" width="90" src="logoblack.png" />
          </div>
        </v-row>
      </v-card-title>
      <v-card-text class="py-5">
        <v-form
          ref="form"
          class="px-6"
          @submit.prevent="onSubmit"
          v-model="valid"
        >
          <v-text-field
            outlined
            dense
            placeholder="User name/Email"
            prepend-inner-icon="mdi-account"
            type="email"
            v-model="email"
            :rules="emailRules"
          />
          <v-text-field
            outlined
            dense
            v-model="password"
            placeholder="Password"
            prepend-inner-icon="mdi-lock"
            :type="show ? 'text' : 'password'"
            :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
            @mousedown="show = !show"
            @mouseup="show = !show"
            :rules="passwordRules"
          />
          <v-btn class="primary" :disabled="!valid" dense type="submit"
            >Login</v-btn
          >
        </v-form>
        <v-row>
          <v-spacer></v-spacer>
          <nuxt-link class="text-decoration-none" to="/admin/forgot_password"
            >forgotten password?</nuxt-link
          >
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>
<style scoped>
.bcolor {
  background: linear-gradient(
    -145deg,
    #25408f,
    #005e91 45%,
    #005e91 55%,
    #003592
  );
}
</style>
<script>
export default {
  layout: "admin",
  data() {
    return {
      email: "",
      password: "",
      show: false,
      valid: true,
      emailRules: [v => /.+@.+\..+/.test(v) || "E-mail must be valid"],
      passwordRules: [v => (v && v.length >= 3) || "Password too short"]
    };
  },
  methods: {
    async onSubmit() {
      let credentials = {
        email: this.email,
        password: this.password
      };
      try {
        let { data } = await this.$auth.loginWith("local", {
          data: credentials
        });
        console.log(data);

        this.$store.commit("admin/setUser", data);
        this.$store.dispatch("admin/getUserInfo");
        this.$router.push("/admin/home");
      } catch (err) {
        alert("login in failed");
      }
    }
  }
};
</script>

<style scoped></style>
