<template>
  <v-container fluid>
    <v-row class="justify-center">
      <v-col md="8" cols="12" class="mb-16">
        <v-card class="mx-auto mt-4 pb-6" style="width:100%">
          <v-sheet
            class="v-sheet--offset mx-auto pa-6"
            color="cyan"
            elevation="12"
            max-width="calc(100% - 32px)"
          >
            <div class="display-1 font-weight-light">Edit Profile</div>
            <div class="subtitle-1 font-weight-light">complete your profile</div>
          </v-sheet>
          <v-form ref="form" class="px-6" v-model="valid">
            <v-text-field
              prepend-inner-icon="mdi-account"
              color="primary"
              placeholder="Name"
              v-model="name"
              :rules="[() => !!name || 'This field is required']"
            ></v-text-field>
            <v-text-field
              prepend-inner-icon="mdi-information-variant"
              color="primary"
              placeholder="Title"
              v-model="title"
              :rules="[() => !!title || 'This field is required']"
            ></v-text-field>
            <v-text-field
              prepend-inner-icon="mdi-email"
              color="primary"
              placeholder="Email"
              v-model="email"
              :rules="emailRules"
            ></v-text-field>

            <v-col cols="12" class="text-right">
              <v-btn color="cyan" :disabled="!valid" @click="update">Update Profile</v-btn>
            </v-col>
          </v-form>
        </v-card>
      </v-col>
      <v-col md="4" cols="12">
        <v-card class="mx-auto mt-4 pb-6 text-center" style="width:100%">
          <v-avatar class="mt-n15" size="128">
            <v-img style="border-radius:50%" src="../img/user.png"></v-img>
          </v-avatar>
          <v-card-text>
            <h4 class="grey--text mb-1 text-uppercase">{{this.$store.state.admin.userInfo.title}}</h4>
            <h3 class="black--text mb-3 font-weight-light">{{this.$store.state.admin.userInfo.name}}</h3>

            <p
              class="font-weight-light grey--text"
            >Don't be scared of the truth because we need to restart the human foundation in truth</p>
            <v-container class="text-left">
              <!-- <div class="font-weight-bold">
                <v-icon class="mr-2">mdi-city</v-icon>
                {{this.$store.state.admin.userInfo.address}}
              </div>-->
              <div class="font-weight-bold">
                <v-icon class="mr-2">mdi-email</v-icon>
                {{this.$store.state.admin.userInfo.email}}
              </div>
            </v-container>
            <v-dialog v-model="dialog" max-width="400px">
              <template v-slot:activator="{on}">
                <v-btn text v-on="on">Change Password</v-btn>
              </template>
              <v-card>
                <v-card-title>Change Password</v-card-title>
                <v-card-text>
                  <v-text-field type="password" v-model="oldPass" placeholder="Old Password"></v-text-field>
                  <v-text-field type="password" v-model="newPass" placeholder="New Password"></v-text-field>
                  <v-text-field
                    type="password"
                    v-model="newCpass"
                    placeholder="Confirm New Password"
                  ></v-text-field>
                  <v-container v-if="!confirmPassword">
                    <v-alert dark dismissible v-model="error" type="error" v-text="error_message" />
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn text color="red" @click="dialog = false">Cancel</v-btn>
                  <v-btn text @click="changePassword">Change Password</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: "admin_main",
  middleware: "auth-admin",
  data() {
    return {
      dialog: false,
      oldPass: "",
      newPass: "",
      newCpass: "",
      name: "",

      error: false,
      error_message: "password mis-match",
      valid: true,
      title: "",
      email: "",
      emailRules: [v => /.+@.+\..+/.test(v) || "E-mail must be valid"]
    };
  },
  mounted() {
    this.setup();
  },
  methods: {
    setup() {
      let data = this.$store.state.admin.userInfo;
      this.name = data.name;
      this.title = data.title;
      this.email = data.email;
    },
    update() {
      let data = {
        name: this.name,
        title: this.title,
        email: this.email
      };
      this.$store.dispatch("admin/updateUserInfo", data);
    },
    changePassword() {
      if (this.newPass === this.newCpass) {
        this.$store.dispatch("admin/changePassword", {
          oldPassword: this.oldPass,
          newPassword: this.newPass
        });
      }
      this.dialog = false;
    }
  },
  computed: {
    confirmPassword() {
      if (this.newPass === this.newCpass) {
        return true;
      } else {
        this.error = true;
        return false;
      }
    }
  }
};
</script>

<style scoped>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>