<template>
  <v-container class="py-16">
    <v-row>
      <v-col v-for="item in photos" :key="item.id" md="4">
        <v-card class="mx-auto" max-width="344">
          <v-img :src="`${photo}${item.photo}`" height="200px"></v-img>

          <v-card-title>{{item.title}}</v-card-title>

          <!-- <v-card-subtitle>1,000 miles of wonder</v-card-subtitle> -->

          <v-card-actions>
            <!-- <v-btn color="orange lighten-2" text>Explore</v-btn> -->

            <v-spacer></v-spacer>

            <v-btn icon @click="show = !show">
              <v-icon>
                {{
                show ? "mdi-chevron-up" : "mdi-chevron-down"
                }}
              </v-icon>
            </v-btn>
          </v-card-actions>

          <v-expand-transition>
            <div v-show="show">
              <v-divider></v-divider>

              <v-card-text>{{item.description}}</v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-col>
    </v-row>
    <div class="text-center mt-10">
      <v-divider inset></v-divider>
      <v-hover v-slot:default="{hover}">
        <v-btn
          :disabled="checkImageCount"
          x-large
          :class="` mt-4 ${hover ? 'white--text' : ''}`"
          color="main"
          :outlined="Boolean(parseInt(`${hover ? 0 : 1}`))"
          rounded
        >Load More</v-btn>
      </v-hover>
    </div>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  data: () => ({
    itemCount: 8,
    photo: process.env.PHOTO_URL,
    baseUrl: process.env.BASE_URL,
    show: false,
    photos: []
  }),
  computed: {
    checkImageCount() {
      return this.totalCount > this.itemCount ? false : true;
    }
  },
  methods: {
    load() {
      this.itemCount = this.itemCount + 8;
      this.loadImages();
    },
    async loadImages() {
      try {
        const url = `${this.baseUrl}/pictures?filter[limit]=${this.itemCount}`;
        let res = await axios.get(url);
        this.photos = res.data;
        console.log(this.photos);
      } catch (err) {
        console.log(err);
      }
    }
  },
  mounted() {
    this.loadImages();
  }
};
</script>
