<template>
  <v-card>
    <v-data-table :headers="headers" :items="items" mobile-breakpoint="800" class="elevation-0">
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title class="font-weight-bold">
            <v-icon color="cyan" size="40" class="mr-2">{{ info.icon }}</v-icon>
            {{ info.name }}
          </v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>

          <!-- this dialog is used for both create and update -->
          <v-dialog v-model="dialog" persistent max-width="700px">
            <template v-slot:activator="{ on }">
              <div class="d-flex">
                <v-btn color="cyan" dark class="ml-auto ma-3" v-on="on">
                  New
                  <v-icon small>mdi-plus-circle-outline</v-icon>
                </v-btn>
              </div>
            </template>
            <v-card>
              <v-card-title>
                <span v-if="editedItem.id">Edit {{ editedItem.title }}</span>
                <span v-else>Create</span>
              </v-card-title>
              <v-card-text>
                <v-row>
                  <v-col cols="12" sm="12">
                    <v-text-field v-model="editedItem.title" label="Name(Title)" clearable></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12">
                    <v-textarea v-model="editedItem.description" label="Description" clearable></v-textarea>
                  </v-col>
                  <v-col cols="12" sm="6" v-if="info.mode === 'news'">
                    <v-text-field v-model="editedItem.by" label="By" clearable></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    v-if="info.mode === 'news' || info.mode === 'vacannounce'"
                  >
                    <v-text-field v-model="editedItem.type" label="Type" clearable></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" v-if="info.mode === 'parish'">
                    <v-text-field v-model="editedItem.priest" label="Priest(current)" clearable></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" v-if="info.mode === 'parish'">
                    <!-- <v-text-field v-model="editedItem.estAt" label="Established At" clearable></v-text-field> -->
                    <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="editedItem.estAt"
                          label="Established At"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        ref="picker"
                        v-model="editedItem.estAt"
                        :max="new Date().toISOString().substr(0, 10)"
                        min="1950-01-01"
                        @change="save()"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                </v-row>
              </v-card-text>
              <div v-if="!editedItem.id">
                <v-container>
                  <v-row>
                    <v-col cols="6" sm="6">
                      <!-- <v-form ref="form"> -->
                      <input
                        type="file"
                        style="display:none"
                        ref="fileInp"
                        placeholder="main image"
                        accept="image/png, image/jpeg, image/bmp"
                        @change="uploadFile"
                      />
                      <!-- </v-form> -->

                      <v-btn class="ml-16" icon @click="$refs.fileInp.click()">
                        Main Image
                        <v-icon class="mr-2">mdi-camera</v-icon>
                      </v-btn>
                    </v-col>
                    <v-col v-if="info.mode === 'parish'" cols="6" sm="6">
                      <!-- <v-form ref="form"> -->
                      <input
                        style="display:none"
                        ref="fileInput"
                        type="file"
                        accept="image/png, image/jpeg, image/bmp"
                        multiple
                        @change="uploadFileSup"
                      />
                      <!-- </v-form> -->

                      <v-btn class="ml-16" icon @click="$refs.fileInput.click()">
                        supporting image
                        <v-icon class="mr-2">mdi-camera</v-icon>
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </div>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="showEditDialog()">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="saveItem(editedItem)">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:item.actions="{ item }">
        <div class="text-truncate">
          <v-icon small class="mr-2" @click="showEditDialog(item)" color="primary">mdi-pencil</v-icon>
          <v-icon small class="mr-2" @click="deleteItem(item)" color="pink">mdi-delete</v-icon>
          <v-icon small color="primary" @click="showPhotoDialog(item)">mdi-image-edit</v-icon>
          <v-dialog :retain-focus="false" v-model="dialogPhoto" persistent max-width="500px">
            <v-card>
              <v-card-title>
                <span>
                  <v-icon color="primary" class="mr-2">mdi-image-edit</v-icon>
                  Manage {{ editedItem.name }} Photos
                </span>
              </v-card-title>
              <v-container
                v-if="
                  info.mode === 'news' ||
                    info.mode === 'gallery' ||
                    info.mode === 'parish'
                "
              >
                <v-row v-if="editedItem.photo">
                  <v-col cols="12" md="6">
                    <div>
                      <v-img :src="`${photo}${editedItem.photo}`"></v-img>
                    </div>
                    <div v-if="info.mode !== 'gallery'">
                      <v-icon
                        color="red"
                        @click="deletePhoto(editedItem, editedItem.photo)"
                      >mdi-minus-circle</v-icon>
                    </div>
                  </v-col>
                </v-row>
                <div v-if="!editedItem.photo">
                  <div>
                    <v-icon color="primary">mdi-image-plus</v-icon>Add Photos
                  </div>
                  <div class="mt-5">
                    <!-- <v-form ref="form"> -->
                    <input
                      type="file"
                      ref="edPhoto"
                      accept="image/png, image/jpeg, image/bmp"
                      @change="uploadFile"
                    />
                    <!-- </v-form> -->
                  </div>
                </div>
                <div v-if="info.mode === 'parish' && editedItem.suppImgs">
                  <div class="my-3 text-h6">Supporting Images</div>
                  <v-row>
                    <v-col v-for="pic in editedItem.suppImgs" :key="pic" cols="12" md="6">
                      <div>
                        <v-img :src="`${photo}${pic}`"></v-img>
                      </div>
                      <div>
                        <v-icon
                          color="red"
                          @click="deleteSupPhoto(editedItem, pic)"
                        >mdi-minus-circle</v-icon>
                      </div>
                    </v-col>
                  </v-row>
                  <div class="mt-5">
                    <!-- <v-form ref="form"> -->
                    <input
                      type="file"
                      ref="edPhoto"
                      accept="image/png, image/jpeg, image/bmp"
                      multiple
                      @change="uploadFileSup"
                    />
                    <!-- </v-form> -->
                  </div>
                </div>
              </v-container>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" @click="showPhotoDialog()" text>Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="addNewPic(editedItem)">Upload Photo</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </template>
      <template v-slot:item.description="{ item }">
        <div class="text-truncate" style="width: 180px">{{ item.description }}</div>
      </template>
      <template v-slot:no-data>
        <div>
          No Data Availabe
          <v-icon>mdi-timer-sand</v-icon>Click New Button
        </div>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      menu: false,
      dialog: false,
      dialogPhoto: false,
      editedItem: {},
      files: null,
      filesSup: null,
      photo: process.env.PHOTO_URL
    };
  },
  props: {
    headers: {
      type: Array,
      required: true
    },
    info: {
      type: Object,
      required: true
    }
  },
  computed: {
    items() {
      if (this.info.mode === "news") {
        return this.$store.getters["news/loadedNews"];
      } else if (this.info.mode === "gallery") {
        return this.$store.getters["gallery/loadedPhotos"];
      } else if (this.info.mode === "parish") {
        return this.$store.getters["parish/loadedParishes"];
      } else if (this.info.mode === "vacannounce") {
        return this.$store.getters["vacannounce/loadedNotices"];
      }
    }
  },
  watch: {
    menu(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = "YEAR"));
    }
  },
  methods: {
    save(date) {
      this.$refs.menu.save(date);
    },
    deleteSupPhoto(item, picName) {
      let data = {
        ...item
      };
      this.$store.dispatch("parish/deleteSuppPhoto", {
        data: data,
        picName: picName
      });
      this.dialogPhoto = false;
      this.editedItem = {};
    },
    showPhotoDialog(item) {
      this.editedItem = item || {};

      this.dialogPhoto = !this.dialogPhoto;
      // this.$refs.edPhoto.value = null;
    },
    uploadFile(event) {
      this.files = event.target.files;
      // console.log(this.files.length);
    },
    uploadFileSup(event) {
      this.filesSup = event.target.files;
      // console.log(this.filesSup.length);
      // console.log(this.files);
    },
    showEditDialog(item) {
      this.editedItem = { ...item } || {};
      this.dialog = !this.dialog;
      // this.$refs.edPhoto.value = null;
      // console.log(this.editedItem);
      if (this.info.mode === "parish" && this.editedItem.estAt) {
        this.editedItem.estAt = new Date(this.editedItem.estAt)
          .toISOString()
          .substr(0, 10);
      }
    },
    saveItem(item) {
      let data = {
        ...item
      };
      if (this.info.mode === "gallery") {
        this.$store.dispatch("gallery/setPhoto", {
          data: data,
          files: this.files
        });
      }
      if (this.info.mode === "news") {
        this.$store.dispatch("news/setNews", { data: data, files: this.files });
      }
      if (this.info.mode === "parish") {
        this.$store.dispatch("parish/setParish", {
          data: data,
          files: this.files,
          filesSup: this.filesSup
        });
      }
      if (this.info.mode === "vacannounce") {
        this.$store.dispatch("vacannounce/setNotice", {
          data: data,
          files: this.files
        });
      }
      this.filesSup = null;
      this.editedItem = {};
      this.dialog = !this.dialog;
      this.files = null;
    },
    deleteItem(item) {
      let data = {
        ...item
      };
      if (this.info.mode === "gallery") {
        this.$store.dispatch("gallery/deletePhoto", data);
      }
      if (this.info.mode === "news") {
        this.$store.dispatch("news/deleteNews", data);
      }
      if (this.info.mode === "parish") {
        this.$store.dispatch("parish/deleteParish", data);
      }
      if (this.info.mode === "vacannounce") {
        this.$store.dispatch("vacannounce/deleteNotice", data);
      }
    },
    deletePhoto(item, picName) {
      let data = {
        ...item
      };

      if (this.info.mode === "news") {
        this.$store.dispatch("news/deletePhoto", {
          data: data,
          picName: picName
        });
      }
      if (this.info.mode === "parish") {
        this.$store.dispatch("parish/deletePhoto", {
          data: data,
          picName: picName
        });
      }

      this.dialogPhoto = false;
      this.editedItem = {};
    },
    addNewPic(item) {
      let data = {
        ...item
      };

      if (this.info.mode === "news") {
        this.$store.dispatch("news/addNewPic", {
          data: data,
          files: this.files
        });
      }
      if (this.info.mode === "parish") {
        if (this.files && !this.filesSup) {
          if (this.files.length > 0) {
            this.$store.dispatch("parish/addNewPic", {
              data: data,
              files: this.files
            });
          }
        } else if (this.filesSup && !this.files) {
          if (this.filesSup.length > 0) {
          }
          this.$store.dispatch("parish/addNewSuppPic", {
            data: data,
            files: this.filesSup
          });
        } else if (this.filesSup && this.files) {
          if (this.filesSup.length > 0 && this.files.length > 0) {
            this.$store.dispatch("parish/addNewPic", {
              data: data,
              files: this.files
            });
            this.$store.dispatch("parish/addNewSuppPic", {
              data: data,
              files: this.filesSup
            });
            this.$router.replace("/admin/home");
          }
        }
      }

      this.dialogPhoto = false;
      this.editedItem = {};
      this.files = null;
      // console.log("value:", this.$refs.edPhoto.value);
      this.$refs.edPhoto.value = null;
    }
  }
};
</script>
