<template>
  <div>
    <v-row>
      <v-col align="center" justify="center">
        <v-img height="100" width="100" :src="require('~/assets/img/reallog.png')"></v-img>
      </v-col>
    </v-row>
    <!-- <v-row style="border:1px red solid">
      <v-col align="center" justify="center" sm="6">
        <v-text-field outlined rounded ></v-text-field>
        <v-btn rounded>Submit</v-btn>
      </v-col>
    </v-row>-->
    <v-btn v-for="icon in icons" :key="icon" class="mx-4 white--text" icon>
      <v-icon size="24px">{{ icon }}</v-icon>
    </v-btn>
    <!-- </v-card-text>
    <v-card-text>-->
    <div class="mt-7">copyright © {{ new Date().getFullYear() }} — AVS</div>
    <div class="white--text">
      <nuxt-link class="mx-1 white--text" to="/about">About Us</nuxt-link>|
      <nuxt-link class="mx-1 white--text" to="/contact-us">Contact Us</nuxt-link>|
      <nuxt-link class="mx-1 white--text" to="/complaint-and-feedback">Complaint and feedback</nuxt-link>
    </div>
  </div>
</template>
<style scoped>
</style>
<script>
export default {
  data() {
    return {
      icons: ["mdi-facebook", "mdi-telegram", "mdi-instagram", "mdi-twitter"]
    };
  }
};
</script>