<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="8">
        <v-hover v-slot="{hover}">
          <v-card
            style="border-radius:0px"
            @click="() => this.$router.push('/social-and-development/#education')"
          >
            <v-img
              :class="`${ hover? 'silhouette': ''} white--text align-end`"
              gradient="to top ,rgb(0, 0,0) ,transparent  "
              height="380px"
              width="100%"
              src="img/school.jpg"
            >
              <v-card-title class="pa-10">
                <v-col>
                  <h2>Education</h2>
                  <!-- <h2>Catholic Blog</h2> -->

                  <div class>
                    <p>Education is one of the major programs that the church gives service to the community aiming for integral human development.</p>
                  </div>
                </v-col>
                <!-- <v-card-actions>
                <v-btn large class="white" rounded>Download</v-btn>
                </v-card-actions>-->
              </v-card-title>
            </v-img>
          </v-card>
        </v-hover>
      </v-col>
      <v-col cols="12" md="4">
        <v-card
          style="border-radius:0px"
          @click="() => this.$router.push('/social-and-development/#food-security-and-humanitarian')"
        >
          <v-img
            class="white--text align-end"
            gradient="to top ,rgb(0, 0,0) ,transparent  "
            height="380px"
            width="100%"
            src="img/foodsecurity.jpg"
          >
            <div class="d-flex flex-no-wrap">
              <v-card-title class="pa-10">
                <!-- <h4>Latest Article</h4> -->
                <h2>Food Security and Humanitarian</h2>

                <div>
                  <p
                    class="text-subtitle-1"
                  >The Vicariate runs food security and livelihood development of the people with focus on drought prone and food insecure areas</p>
                </div>
                <!-- <div>
                  <v-card-actions>
                    <v-hover v-slot:default="{hover}">
                      <v-btn
                        large
                        :class="`${hover?'main white--text': 'white main--text'}`"
                        rounded
                      >More</v-btn>
                    </v-hover>
                  </v-card-actions>
                </div>-->
              </v-card-title>
            </div>
          </v-img>
        </v-card>
      </v-col>
      <v-col cols="12">
        <v-card style="border-radius:0px" @click="onClick">
          <v-img
            class="white--text align-end"
            gradient="to top ,rgb(0, 0,0) ,transparent  "
            height="380px"
            width="100%"
            src="img/health.jpg"
          >
            <v-card-title class="pa-10">
              <v-col>
                <h2>Health</h2>

                <div class>
                  <p>Health program is one of the social institutions which designed to meet the objectives of the Church and needy community through the provision of quality health service in the jurisdiction.</p>
                </div>
              </v-col>

              <!-- <v-card-actions>
                <v-btn large class="white" rounded>Download</v-btn>
              </v-card-actions>-->
            </v-card-title>
          </v-img>
        </v-card>
      </v-col>
      <v-col cols="12" md="4">
        <v-card
          style="border-radius:0px"
          @click="() => this.$router.push('/social-and-development/#women-empowerment')"
        >
          <v-img
            class="white--text align-end"
            gradient="to top ,rgb(0, 0,0) ,transparent  "
            height="380px"
            width="100%"
            src="img/wallcolored.jpg"
          >
            <v-card-title class="pa-10">
              <v-col>
                <h2>Women Empowerment</h2>

                <div>
                  <p
                    class="text-subtitle-1"
                  >The programs aim at empowering poor rural women to participate in and benefit from economic activities and increased access and actively participate in decision making in their household and community level</p>
                </div>
              </v-col>
              <!-- <v-card-actions>
                <v-btn large class="white" rounded>Download</v-btn>
              </v-card-actions>-->
            </v-card-title>
          </v-img>
        </v-card>
      </v-col>
      <v-col cols="12" md="8">
        <v-card style="border-radius:0px" @click="onVacannounce">
          <v-img
            class="white--text align-end"
            gradient="to top ,rgb(0, 0,0) ,transparent  "
            height="380px"
            width="100%"
            src="img/wallcolored.jpg"
          >
            <v-card-title class="pa-10">
              <v-col>
                <h2>Vacancies and Announcements</h2>

                <div class>
                  <p>
                    About Job Vacancies and Announcements from the Apostolic
                    Vicariate of Soddo
                  </p>
                </div>
              </v-col>
              <!-- <v-card-actions>
                <v-btn large class="white" rounded>Download</v-btn>
              </v-card-actions>-->
            </v-card-title>
          </v-img>
        </v-card>
      </v-col>
      <v-col cols="12">
        <v-card style="border-radius:0px" @click="onAbout">
          <v-img
            class="white--text align-end"
            gradient="to top ,rgb(0, 0,0) ,transparent  "
            height="480px"
            width="100%"
            src="img/jezu.jpg"
          >
            <v-card-title class="pa-10">
              <v-col>
                <h4>About Us</h4>
                <h2>Apostolic Vicariate Of Soddo</h2>

                <div class>
                  <p>Our Mission, Vision ,Story and More.</p>
                </div>
              </v-col>
              <!-- <v-card-actions>
                <v-btn large class="white" rounded>Download</v-btn>
              </v-card-actions>-->
            </v-card-title>
          </v-img>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.silhouette {
  filter: grayscale(100%);
  /* -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  opacity: 1; */
}
/* .selector {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@supports (display: -webkit-box) {
  .selector {
    /* autoprefixer: off 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
  }
} */
</style>

<script>
export default {
  methods: {
    onClick() {
      this.$router.push("/social-and-development/health");
    },
    onAbout() {
      this.$router.push("/about");
    },
    onVacannounce() {
      this.$router.push("/vacancy-and-announcement");
    }
  }
};
</script>
