<template>
  <v-row>
    <v-col cols="12" md="4">
      <div class="ma-16">
        <div class="text-uppercase grey--text mb-4">latest content</div>
        <div class="text-capitalize blue--text text-h3">Explore Our Latest Content</div>
      </div>
    </v-col>
    <v-col class="pl-5" cols="12" md="8">
      <div class="card-carousel-wrapper">
        <div class="card-carousel py-12">
          <div class="dark card-carousel--overflow-container">
            <div
              class="card-carousel-cards"
              :style="{
                transform: 'translateX' + '(' + currentOffset + 'px' + ')'
              }"
            >
              <v-card
                class="mr-7 my-5"
                max-width="300"
                v-for="item in items"
                :key="item.name"
                elevation="10"
                @click="cardRoute(item)"
              >
                <v-img
                  class="white--text align-end"
                  gradient="to top ,rgba(37, 35, 29,.7) ,transparent  "
                  height="260px"
                  :src="`${photo}${item.photo}`"
                >
                  <v-card-title class="font-weight-bold text-h5">{{item.title}}</v-card-title>
                </v-img>

                <v-card-subtitle class="pb-0">
                  <span v-if="item.by">News</span>
                  <span v-else>Notice</span>
                </v-card-subtitle>

                <v-card-text>
                  <div style="font-size:18px" class="selector">
                    <p class="teal--text">{{ item.description }}</p>
                  </div>
                </v-card-text>
              </v-card>
            </div>
          </div>
        </div>
      </div>
      <div style="float:right;" class="mr-16 hidden-sm-and-down">
        <!-- <div class="card-carousel--nav__left" @click="moveCarousel(-1)" :disabled="atHeadOfList"></div>
        <div class="card-carousel--nav__right" @click="moveCarousel(1)" :disabled="atEndOfList"></div>-->

        <v-icon
          @click="moveCarousel(-1)"
          :disabled="atHeadOfList"
          size="100"
          color="teal"
        >mdi-chevron-left</v-icon>

        <v-icon
          @click="moveCarousel(1)"
          :disabled="atEndOfList"
          size="100"
          color="teal"
        >mdi-chevron-right</v-icon>
      </div>
    </v-col>
  </v-row>
</template>
<style lang="scss" scoped>
.dark::-webkit-scrollbar {
  width: 1px;
}

.dark::-webkit-scrollbar-track {
  background: transparent;
}

.dark::-webkit-scrollbar-thumb {
  background: transparent;
  border: solid 2px transparent;
  border-radius: 7px;
}

.dark::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.selector {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@supports (display: -webkit-box) {
  .selector {
    /* autoprefixer: off */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
  }
}
.card-carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

.card-carousel {
  display: flex;
  justify-content: center;
  width: 100%;

  &--overflow-container {
    overflow: hidden;
    overflow-x: scroll;
  }
}

.card-carousel-cards {
  display: flex;
  transition: transform 150ms ease-out;
  transform: translatex(0px);
}
</style>
<script>
export default {
  data() {
    return {
      currentOffset: 0,
      windowSize: 0,
      paginationFactor: 320,
      photo: process.env.PHOTO_URL
    };
  },
  computed: {
    items() {
      let news = this.$store.getters["news/latestNews"];
      let vacannounce = this.$store.getters["vacannounce/loadedNotices"];
      let fullData = vacannounce.concat(news);
      return fullData;
    },
    atEndOfList() {
      return (
        this.currentOffset <=
        this.paginationFactor * -1 * (this.items.length - this.windowSize)
      );
    },
    atHeadOfList() {
      return this.currentOffset === 0;
    }
  },
  methods: {
    cardRoute(item) {
      if (item.uid && !item.by) {
        this.$router.push(`/vacancy-and-announcement/${item.uid}`);
      } else if (!item.uid && item.by) {
        this.$router.push("/news");
      }
    },
    moveCarousel(direction) {
      // Find a more elegant way to express the :style. consider using props to make it truly generic
      if (direction === 1 && !this.atEndOfList) {
        this.currentOffset -= this.paginationFactor;
      } else if (direction === -1 && !this.atHeadOfList) {
        this.currentOffset += this.paginationFactor;
      }
    }
  }
};
</script>
