<template>
  <client-only>
    <div class="pb-16 mt-10" v-if="showNotice">
      <div align="center" v-if="showNotice.photo">
        <v-col cols="12" sm="8">
          <v-img height="100%" width="100%" :src="`${photo}${showNotice.photo}`"></v-img>
        </v-col>
      </div>
      <div class="mt-10" align="center">
        <v-col cols="12" sm="8">
          <p class="text-justify">{{showNotice.description}}</p>
        </v-col>
        <div class="text-center">for more information please Contact Us, AVS.</div>
      </div>
    </div>
  </client-only>
</template>

<style scoped>
.carous {
  height: 300px;
}
</style>

<script>
export default {
  layout: "customLayout",
  data() {
    return {
      photo: process.env.PHOTO_URL
    };
  },
  computed: {
    imageHeight() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "100%";
        case "sm":
          return "100%";
        case "md":
          return "90vh";
        case "lg":
          return "90vh";
        case "xl":
          return "90vh";
      }
    },
    showNotice() {
      let id = this.$route.params.uid;
      let availableNotices = this.$store.getters["vacannounce/loadedNotices"];
      const notice = availableNotices.find(p => p.uid === id);
      return notice;
    }
  }
};
</script>
