// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: 'Ubuntu';
$heading-font-family: 'Ubuntu';
$font-size-root: 18px;
@import '~vuetify/src/styles/styles.sass';
