<template>
  <client-only>
    <div v-if="news.length >0">
      <v-row class="mt-10">
        <v-col cols="12" md="4" class="py-16 pr-0 pl-10">
          <div
            class="mx-15 pt-2 mb-10 main white--text text-center font-weight-black"
            style="border-radius: 10px;height:40px"
          >Latest News</div>

          <v-list style="max-height:680px" class="dark overflow-y-auto">
            <v-list-item v-for="item in news" :key="item.id">
              <v-card width="100%" tile flat elevation="3" class="mb-3 rounded-xl">
                <div class="d-flex flex-no-wrap">
                  <v-avatar class="rounded-xl" size="125" tile>
                    <v-img :src="`${photo}${item.photo}`"></v-img>
                  </v-avatar>
                  <div>
                    <v-card-title>{{ item.title }}</v-card-title>

                    <!-- <v-card-subtitle>{{ item.by }}</v-card-subtitle> -->

                    <v-card-actions>
                      <v-hover v-slot:default="{ hover }">
                        <v-btn
                          :class="`ml-2 mt-5 ${hover ? 'white--text' : ''}`"
                          color="main"
                          :outlined="Boolean(parseInt(`${hover ? 0 : 1}`))"
                          rounded
                          small
                          @click="selectNews(item.id)"
                        >READ MORE</v-btn>
                      </v-hover>
                    </v-card-actions>
                  </div>
                </div>
              </v-card>
            </v-list-item>
          </v-list>
        </v-col>

        <v-col v-if="selectedNews" cols="12" md="8">
          <!-- <v-divider class="red" inset vertical></v-divider> -->
          <!-- <v-responsive> -->
          <v-row>
            <v-col id="latest_news" align="center" class="mt-16">
              <v-img height="400" width="600" :src="`${photo}${selectedNews.photo}`"></v-img>
              <div class="text-caption mt-4">
                {{selectedNews.by}} --
                <v-icon size="16">mdi-clock-outline</v-icon>
                {{(new Date(selectedNews.logTime).getFullYear()) + "/" + (new Date().getMonth() + 1)+ "/" + (new Date().getDate())}}
              </div>
            </v-col>
          </v-row>
          <!-- </v-responsive> -->
          <v-row>
            <v-col align="center">
              <div
                class="text-capitalize text-h4 mb-7"
                style="max-width:600px"
              >{{selectedNews.title}}</div>
              <div class="text-center" style="max-width:600px">{{selectedNews.description}}</div>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </div>
    <div v-else style="margin-top:100px" class="text-center text-h3 blue--text">
      <v-icon size="50">mdi-information</v-icon>No News Available
    </div>
  </client-only>
</template>
<style scoped>
.al {
  background: #f6f6f6;
}
.dark::-webkit-scrollbar {
  width: 5px;
}

.dark::-webkit-scrollbar-track {
  background: transparent;
}

.dark::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border: solid 3px #003592;
  border-radius: 7px;
}

.dark::-webkit-scrollbar-thumb:hover {
  background: #263238;
}
</style>
<script>
import axios from "axios";
export default {
  data() {
    return {
      news: [],
      selectedNews: {},
      photo: process.env.PHOTO_URL,
      baseUrl: process.env.BASE_URL
    };
  },
  mounted() {
    this.loadNews();
  },
  methods: {
    async loadNews() {
      try {
        const url = ` ${this.baseUrl}/news`;
        const res = await axios.get(url);
        this.$store.dispatch("news/getNews");
        this.news = res.data;
        this.selectedNews = res.data[0];
      } catch (err) {
        console.log(err);
      }
    },
    selectNews(newsId) {
      const nId = newsId;
      let availableNews = this.$store.getters["news/loadedNews"];
      this.selectedNews = availableNews.find(n => n.id === nId);
      this.$vuetify.goTo("#latest_news");
    }
  }
};
</script>
