<template>
  <client-only>
    <div class="pb-16" v-if="showParish">
      <div align="center">
        <v-img
          gradient="to bottom , rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.5) 30%,
      #002856"
          :height="imageHeight"
          width="100%"
          :src="`${photo}${showParish.photo}`"
        ></v-img>
      </div>
      <div class="mt-10" align="center">
        <v-col cols="12" sm="8">
          <p class="text-justify" style="white-space: pre-wrap">{{showParish.description}}</p>
        </v-col>
      </div>

      <div class="text-center mt-10">
        <p class="text-center font-weight-bold text-sm-h6 text-md-h4">More Images</p>

        <v-row align="center" justify="center">
          <v-col md="8">
            <v-card class="rounded-xl" elevation="16">
              <v-carousel
                cycle
                style="width:100%"
                hide-delimiter-background
                show-arrows-on-hover
                hide-delimiters
              >
                <v-carousel-item
                  v-for="(pic, i) in showParish.suppImgs"
                  :key="i"
                  :src="`${photo}${pic}`"
                ></v-carousel-item>
                <!-- <v-carousel-item v-for="(slide, i) in slides" :key="i">
            <v-sheet :color="colors[i]" height="100%">
              <v-row class="fill-height" align="center" justify="center">
                <div class="display-3">{{ slide }} Slide</div>
              </v-row>
            </v-sheet>
                </v-carousel-item>-->
              </v-carousel>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </div>
  </client-only>
</template>

<style scoped>
.carous {
  height: 300px;
}
</style>

<script>
export default {
  layout: "customLayout",
  data() {
    return {
      photo: process.env.PHOTO_URL,
      colors: [
        "indigo",
        "warning",
        "pink darken-2",
        "red lighten-1",
        "deep-purple accent-4"
      ],
      slides: ["First", "Second", "Third", "Fourth", "Fifth"]
    };
  },
  computed: {
    imageHeight() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "100%";
        case "sm":
          return "100%";
        case "md":
          return "90vh";
        case "lg":
          return "90vh";
        case "xl":
          return "90vh";
      }
    },
    showParish() {
      let id = this.$route.params.uid;
      let availableParishes = this.$store.getters["parish/loadedParishes"];
      const parish = availableParishes.find(p => p.uid === id);
      return parish;
    }
  }
};
</script>
