<template>
  <client-only>
    <div>
      <v-row v-if="items.length > 0" justify="center">
        <v-expansion-panels flat popout focusable>
          <v-expansion-panel v-for="(item , index) in items" :key="item.id">
            <v-expansion-panel-header @click="readMessages(item)">
              <template v-slot:actions>
                <v-icon color="error" @click="deleteMessage(item.id)">mdi-close-box</v-icon>
              </template>
              <v-row no-gutters>
                <v-col cols="4">{{item.senderName}} &lt&lt{{item.senderEmail}}&gt&gt</v-col>
                <v-col cols="4" class="font-weight-bold">{{item.subject}}</v-col>
                <v-col cols="4">
                  <v-icon v-if="item.new === true">mdi-check</v-icon>
                  <v-icon v-if="item.new === false">mdi-check-all</v-icon>
                  <span class="ml-6">{{new Date(item.logTime).getFullYear() }}</span>
                </v-col>
              </v-row>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-card-text>{{item.text}}</v-card-text>
              <v-row justify="center">
                <v-col cols="2">
                  <v-hover v-slot:default="{hover}">
                    <v-btn
                      depressed
                      class="transparent font-weight-bold text-lowercase"
                      @click="openDialog({email:item.senderEmail,name: item.senderName})"
                    >
                      reply
                      <v-icon v-if="hover" color="teal">mdi-reply</v-icon>
                      <v-icon v-else color="teal">mdi-reply-outline</v-icon>
                    </v-btn>
                  </v-hover>
                  <v-dialog persistent :retain-focus="false" v-model="dialog" max-width="600">
                    <!-- <template v-slot:activator="{on}">
                
                    </template>-->
                    <v-card>
                      <v-card-title>Reply Email</v-card-title>

                      <v-card-text>
                        <!-- <label class="font-weight-bold">To: {{item.senderEmail}}</label> -->
                        To:
                        <v-text-field
                          color="cyan"
                          disabled
                          rounded
                          filled
                          :value="user.email"
                          dense
                        ></v-text-field>
                        <v-text-field
                          color="cyan"
                          v-model="subject"
                          class="mt-3"
                          dense
                          placeholder="Subject"
                          outlined
                        ></v-text-field>
                        <v-textarea
                          color="cyan"
                          v-model="message"
                          placeholder="Message..."
                          outlined
                        ></v-textarea>
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="red" text @click="dialog = false">Cancel</v-btn>
                        <v-btn depressed class="transparent cyan--text" @click="replyEmail">
                          Send
                          <v-icon class="ml-2">mdi-send-circle-outline</v-icon>
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
            <v-divider v-if="index + 1 < items.length" :key="index"></v-divider>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-row>

      <v-layout v-else class="pa-10">
        <v-flex class="text-center font-weight-bold text-h3">
          <div>
            <v-icon size="100">mdi-spider-web</v-icon>
          </div>
          <div class="grey--text">no messages</div>
        </v-flex>
      </v-layout>
      <div class="text-center ma-2">
        <v-snackbar :color="colour" v-model="snackbar">
          {{ text }}
          <v-btn text @click="snackbar = false">Close</v-btn>
        </v-snackbar>
      </div>
    </div>
  </client-only>
</template>

<script>
import axios from "axios";
export default {
  layout: "admin_main",
  middleware: "auth-admin",
  data() {
    return {
      baseUrl: process.env.BASE_URL,
      dialog: false,
      user: {},
      subject: "",
      message: "",
      colour: "",
      text: "",
      snackbar: false
    };
  },
  // mounted() {
  //   this.readMessages();
  // },
  methods: {
    readMessages(item) {
      if (item.new === true) {
        this.$store.dispatch("messages/readMessages", item);
      }
    },
    deleteMessage(id) {
      this.$store.dispatch("messages/deleteMessage", id);
    },
    async replyEmail() {
      let data = JSON.stringify({
        user: this.user,
        text: this.message,
        subject: this.subject
      });

      try {
        this.dialog = false;
        let res = await axios.get(
          `${this.baseUrl}/messages/send-email-for-Customer?emailInfo=${data}`
        );
        if (res.status === 204) {
          //sent message UI
          this.snackbar = true;
          this.colour = "green";
          this.text = "Message successfully sent.";
          //clear and close dialog
          this.subject = "";
          this.message = "";
        }
      } catch (err) {
        console.log(err);
        //error message UI
        this.snackbar = true;
        this.colour = "red";
        this.text = "Error! Can't Send Message.";
        //clear and close dialog
        this.subject = "";
        this.message = "";
        this.dialog = false;
      }
    },
    openDialog(mailInfo) {
      console.log("mailinfo:", mailInfo);

      this.user = mailInfo;
      // console.log("this.user:", this.user);

      this.dialog = true;
      // console.log(mailInfo);
    }
  },
  computed: {
    items() {
      // return [];
      return this.$store.getters["messages/loadMessages"];
    }
    // ,
    // user() {
    //   return this.user;
    // }
  }
};
</script>