<template>
  <v-app>
    <!-- <header>
      <v-app-bar class="transparent my-10" elevation="0" dark>
        <nuxt-link to="/">
          <div>
            <v-img
              height="60"
              width="60"
              :src="require('~/assets/img/reallog.png')"
            ></v-img>
          </div>
        </nuxt-link>

        <v-toolbar-title class="text-uppercase display-1 font-weight-black ml-3"
          >Catholic</v-toolbar-title
        >

         <v-spacer></v-spacer>

        <v-btn text to="/">Home</v-btn> 
      </v-app-bar>
    </header> -->
    <v-main>
      <nuxt />
    </v-main>
    <!-- <v-footer dark padless>
      <v-card flat tile class="bcolor lighten-1 text-center" width="100%">
        <v-card-text class="white--text">
          <customFooter />
        </v-card-text>
      </v-card>
    </v-footer> -->
  </v-app>
</template>
