<template>
  <v-app light>
    <v-navigation-drawer v-model="drawer" absolute dark class="bcolor">
      <v-list-item class="py-5">
        <v-list-item-avatar size="100">
          <v-img :src="require('~/assets/img/reallog.png')"></v-img>
        </v-list-item-avatar>

        <v-list-item-title>Catholic</v-list-item-title>

        <v-btn icon @click.stop="drawer = !drawer">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-item
          class="pa-2"
          v-for="item in items"
          :key="item.title"
          link
          @click="navigate(item.to)"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <!-- <template v-slot:append>
        <div class="pa-2">
          <v-btn color="yellow" block>Logout</v-btn>
        </div>
      </template>-->
    </v-navigation-drawer>
    <header style="background-color:#005e91">
      <v-app-bar
        class="transparent hidden-sm-and-down my-2"
        flat
        dark
        style="margin-left:100px;margin-right:100px"
      >
        <nuxt-link to="/">
          <div>
            <v-img height="40" width="40" :src="require('~/assets/img/reallog.png')"></v-img>
          </div>
        </nuxt-link>

        <v-toolbar-title class="text-uppercase display-1 font-weight-black ml-3">Catholic</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn text @click="navigate('/news')">news</v-btn>
        <v-btn text @click="navigate('/gallery')">gallery</v-btn>
        <v-btn text @click="navigate('/about')">about</v-btn>
        <v-btn text @click="navigate('/contact-us')">contact us</v-btn>
        <!-- <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn rounded outlined color="white" dark v-bind="attrs" v-on="on">
              Sector
              <v-icon class="ml-2">mdi-menu-down</v-icon>
            </v-btn>
          </template>
          <v-list class="transparent">
            <v-list-item v-for="(item, index) in itemss" :key="index" @click="navigate(item.to)">
              <v-list-item-title class="white--text font-weight-black">{{ item.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>-->
      </v-app-bar>
      <v-app-bar class="transparent hidden-md-and-up my-2" elevation="0" dark>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>Catholic</v-toolbar-title>
      </v-app-bar>
    </header>
    <nuxt />

    <v-footer dark padless>
      <v-card flat tile class="bcolor lighten-1 text-center" width="100%">
        <v-card-text class="al">
          <section class="black--text">
            <h2 class="mb-3 text-h4">Sponsors/Donors</h2>
            <p class="text-center">
              The continued development and growth of ECC-SDCO
              <br />is made possible by these generous sponsors:
            </p>
            <v-sheet color="transparent" class="mx-auto my-10" max-width="700" light>
              <v-responsive>
                <v-row align="center" align-content="center" justify="center" dense>
                  <v-col sm="3" v-for="donor in donors" :key="donor.img" justify="center">
                    <v-img width="127" height="50" :src="require(`~/assets/img/${donor.img}.png`)"></v-img>
                  </v-col>
                </v-row>
              </v-responsive>
            </v-sheet>
          </section>
        </v-card-text>

        <v-card-text class="white--text">
          <customFooter />
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>

<style scoped>
.al {
  background: #f6f6f6;
}
.bcolor {
  background: linear-gradient(
    -145deg,
    #25408f,
    #005e91 45%,
    #005e91 55%,
    #003592
  );
}
.header {
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.5) 30%,
    #002856
  );
  /* ,
    url("~static/img/cathedral.jpg"); */
}
.selector {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@supports (display: -webkit-box) {
  .selector {
    /* autoprefixer: off */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
  }
}
</style>

<script>
import customFooter from "~/components/customFooter";
export default {
  data: () => ({
    drawer: false,
    icons: ["mdi-facebook", "mdi-telegram", "mdi-instagram", "mdi-twitter"],
    donors: [
      {
        img: "malteser2",
        url: "#"
      },
      {
        img: "manos2",
        url: "#"
      },
      {
        img: "misereor2",
        url: "#"
      },
      {
        img: "horizont2",
        url: "#"
      },
      {
        img: "soh",
        url: "#"
      },
      {
        img: "caritasbelg2",
        url: "#"
      },
      {
        img: "dka2",
        url: "#"
      },
      {
        img: "audevcop2",
        url: "#"
      },
      {
        img: "caritasinter2",
        url: "#"
      },
      {
        img: "crs2",
        url: "#"
      },
      {
        img: "cabrini2",
        url: "#"
      },

      {
        img: "cafod2",
        url: "#"
      },
      {
        img: "sciaf2",
        url: "#"
      },
      {
        img: "trocalre2",
        url: "#"
      },
      {
        img: "eurounion2",
        url: "#"
      }
    ],

    items: [
      { title: "Home", icon: "mdi-home-city", to: "/" },
      { title: "News", icon: "mdi-newspaper", to: "/news" },
      { title: "Gallery", icon: "mdi-image-multiple", to: "/gallery" },
      { title: "Apostolic", icon: "mdi-church", to: "/pastoral" },
      {
        title: "Social and Dev't",
        icon: "mdi-account-multiple",
        to: "/social-and-development"
      },
      { title: "About Us", icon: "mdi-information", to: "/about" },
      { title: "Contact Us", icon: "mdi-handshake", to: "/contact-us" }
    ],
    itemss: [
      { title: "PASTORAL", to: "/pastoral" },
      { title: "SOCIAL DEV'T", to: "social-and-development" }
    ]
  }),
  methods: {
    // look() {
    //   console.log("this function is ...");
    // },
    navigate(url) {
      this.$router.push(url);
    }
  },
  components: {
    customFooter
  }
};
</script>
