<template>
  <v-app light>
    <v-navigation-drawer v-model="drawer" absolute dark class="bcolor">
      <v-list-item class="py-5">
        <v-list-item-avatar size="100">
          <v-img :src="require('~/assets/img/reallog.png')"></v-img>
        </v-list-item-avatar>

        <v-list-item-title>Catholic</v-list-item-title>

        <v-btn icon @click.stop="drawer = !drawer">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-item
          class="pa-2"
          v-for="item in items"
          :key="item.title"
          link
          @click="navigate(item.to)"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <!-- <template v-slot:append>
        <div class="pa-2">
          <v-btn color="yellow" block>Logout</v-btn>
        </div>
      </template>-->
    </v-navigation-drawer>
    <header class="header">
      <v-app-bar
        class="transparent hidden-sm-and-down mt-10"
        elevation="0"
        dark
        style="margin-left:150px;margin-right:150px"
      >
        <nuxt-link to="/">
          <div>
            <v-img height="60" width="60" :src="require('~/assets/img/reallog.png')"></v-img>
          </div>
        </nuxt-link>

        <v-toolbar-title class="text-uppercase display-1 font-weight-black ml-3">Catholic</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn text @click="navigate('/news')">news</v-btn>
        <v-btn text @click="navigate('/gallery')">gallery</v-btn>

        <!-- <v-btn text @click="navigate('/contact-us')">contact us</v-btn> -->
        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn depressed color="transparent" dark v-bind="attrs" v-on="on" class="mr-2">
              Structure
              <v-icon class="ml-2">mdi-menu-down</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item v-for="(item, index) in itemsss" :key="index" @click="navigate(item.to)">
              <v-list-item-title class="blue--text font-weight-black">
                {{
                item.title
                }}
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn depressed color="transparent" dark v-bind="attrs" v-on="on">
              Activities
              <v-icon class="ml-2">mdi-menu-down</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item v-for="(item, index) in itemss" :key="index" @click="navigate(item.to)">
              <v-list-item-title class="blue--text font-weight-black">
                {{
                item.title
                }}
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-btn rounded outlined class="orange ml-2" text @click="navigate('/about')">about us</v-btn>
      </v-app-bar>
      <v-app-bar class="transparent hidden-md-and-up mt-10" elevation="0" dark>
        <div style="height:30px;width:30px" class="mr-2">
          <v-img :src="require('~/assets/img/reallog.png')"></v-img>
        </div>

        <v-toolbar-title>Catholic</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      </v-app-bar>

      <!-- <v-layout column justify-center align-center class="mt-10">
      <v-flex xs12 sm12 md12>-->
      <v-responsive>
        <v-row class="text-center white--text my-16">
          <v-col justify="center">
            <div v-if="this.$route.name === 'index'">
              <p
                class="display-2 text-capitalize text-center font-weight-bold"
              >Apostolic vicariate of Soddo</p>
              <v-card-text class="body text-center">
                Apostolic Vicariate of Soddo (AVS) is a complex jurisdiction
                with immense geographical and ethnic scope. It is a vast and
                diverse region with almost 19.9 million people living across
                seven zones and two especial Woredas. It hosts over 33 out of 56
                Southern Nations Nationalities and people.
              </v-card-text>
            </div>
            <div v-if="this.$route.name === 'about'">
              <p
                class="display-2 text-capitalize text-center font-weight-bold"
              >About Apostolic vicariate of Soddo</p>
            </div>
            <div v-if="this.$route.name === 'pastoral'">
              <p class="display-2 text-capitalize text-center font-weight-bold">Pastoral Activities</p>
            </div>
            <div v-if="this.$route.name === 'social-and-development'">
              <p
                class="display-2 text-capitalize text-center font-weight-bold"
              >social And development Activities</p>
            </div>
            <div v-if="this.$route.name === 'news'">
              <p
                class="display-2 text-capitalize text-center font-weight-bold"
              >Get Latest Information About AVS</p>
              <v-card-text class="body text-center">
                Search the world's largest database of answers about the beliefs
                and practices of the Catholic faith. Learn more about
                Catholicism through articles, books, videos and more.
              </v-card-text>
              <div class="mt-14 text-uppercase font-weight-black text-h3">
                <v-icon color="white" size="60">mdi-newspaper-variant</v-icon>news
              </div>
            </div>
            <div v-if="this.$route.name === 'gallery'">
              <p class="display-2 text-capitalize text-center font-weight-bold">Feel the pictures</p>
              <v-card-text class="body text-center">
                Images and Description of the Apostolic vicariate of
                soddo
              </v-card-text>
              <div class="mt-14 text-uppercase font-weight-black text-h3">
                <v-icon color="white" size="60">mdi-image-multiple</v-icon>gallery
              </div>
            </div>
            <div v-if="this.$route.name === 'structure-parishes'">
              <!-- <p class="display-2 text-capitalize text-center font-weight-bold">Parishes </p> -->
              <!-- <v-card-text class="body text-center"></v-card-text> -->
              <div class="mt-14 text-capitalize font-weight-black text-h4">
                <v-icon color="white" size="50">mdi-church</v-icon>Parishes
              </div>
              <v-card-text
                class="body text-center"
              >Ethiopian Catholic Church Apostolic Vicariate of Soddo (ECC-AVS) has 34 parishes and quasi parishes. There are all over 192,000 Catholic faithful, which is only 3.3% of the total population living in the jurisdiction.</v-card-text>
            </div>
          </v-col>
        </v-row>
      </v-responsive>

      <!-- </v-flex>
      </v-layout>-->
    </header>
    <!-- </v-app light> -->
    <nuxt />

    <v-dialog class="vdialog" v-model="dialog" max-width="300px">
      <template v-slot:activator="{ on, attrs }">
        <v-fab-transition>
          <v-btn
            color="main"
            elevation="10"
            fixed
            dark
            absolute
            bottom
            right
            fab
            v-bind="attrs"
            v-on="on"
            style="z-index: 6; margin-bottom: 50px; transform-origin: center center;"
          >
            <v-icon>mdi-information-variant</v-icon>
          </v-btn>
        </v-fab-transition>
      </template>

      <v-card class="mx-auto mt-4 pb-6 text-center" style="width:100%">
        <v-avatar class="mt-n1" size="100" color="main">
          <span class="white--text text-h4">NC</span>
        </v-avatar>
        <v-card-text class="text-center">
          <h4 class="grey--text mb-1 text-uppercase">neycot Developers group</h4>
          <h3 class="black--text font-weight-light">Tibebemelecot Kassahun</h3>
          <h3 class="black--text mb-3 font-weight-light">Honey Asrat</h3>
          <!-- <p
            class="font-weight-light grey--text"
          >Don't be scared of the truth because we need to restart the human foundation in truth</p>-->
          <v-container class="text-left">
            <v-list class="ml-n7">
              <v-list-item>
                <v-list-item-icon>
                  <v-icon color="indigo">mdi-email</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title>tmkkassa@gmail.com</v-list-item-title>
                  <v-list-item-title>ododohoneyasso@gmail.com</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-icon>
                  <v-icon color="indigo">mdi-phone</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                  <v-list-item-title>+251 90 462 5670</v-list-item-title>
                  <v-list-item-title>+251 92 470 7768</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-footer dark padless class="mt-16">
      <v-card flat tile class="bcolor lighten-1 text-center" width="100%">
        <v-card-text class="al">
          <section class="black--text">
            <h2 class="mb-3 text-h4">Sponsors/Donors</h2>
            <p class="text-center">
              The continued development and growth of ECC-SDCO
              <br />is made possible by these generous sponsors:
            </p>
            <v-sheet color="transparent" class="mx-auto my-10" max-width="700" light>
              <v-responsive>
                <v-row align="center" align-content="center" justify="center" dense>
                  <v-col sm="3" v-for="donor in donors" :key="donor.img" justify="center">
                    <a :href="donor.url" target="_blank">
                      <v-img
                        width="127"
                        height="50"
                        :src="require(`~/assets/img/${donor.img}.png`)"
                        class="customCursor"
                      ></v-img>
                    </a>
                  </v-col>
                </v-row>
              </v-responsive>
            </v-sheet>
          </section>
        </v-card-text>

        <!-- <v-divider></v-divider> -->

        <v-card-text class="white--text">
          <customFooter />
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>

<style scoped>
.vdialog {
  position: absolute;
  bottom: 0;
  right: 0;
  align-self: flex-end;
}
.customCursor {
  cursor: pointer;
}
.al {
  background: #f6f6f6;
}
.bcolor {
  background: linear-gradient(
    -145deg,
    #25408f,
    #005e91 45%,
    #005e91 55%,
    #003592
  );
}
.header {
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.5) 30%,
      #002856
    ),
    url("~static/img/hm.jpg");
}
.selector {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@supports (display: -webkit-box) {
  .selector {
    /* autoprefixer: off */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
  }
}
</style>

<script>
import customFooter from "~/components/customFooter";
export default {
  data: () => ({
    drawer: false,
    dialog: false,
    icons: ["mdi-facebook", "mdi-telegram", "mdi-instagram", "mdi-twitter"],
    donors: [
      {
        img: "malteser2",
        url: "https://www.malteser-international.org/"
      },
      {
        img: "manos2",
        url: "https://www.manosunidas.org/"
      },
      {
        img: "misereor2",
        url: "https://www.misereor.org/"
      },
      {
        img: "horizont2",
        url: "https://www.horizont3000.at/"
      },
      {
        img: "soh",
        url: "https://www.hoffnungszeichen.de/"
      },
      {
        img: "caritasbelg2",
        url: "https://www.caritas.org/"
      },
      {
        img: "dka2",
        url: "https://www.dka.at/"
      },
      {
        img: "audevcop2",
        url: "#"
      },
      {
        img: "caritasinter2",
        url: "https://www.caritas.org/"
      },
      {
        img: "crs2",
        url: "https://www.crs.org/"
      },
      {
        img: "cabrini2",
        url: "https://cabrinifoundation.org/"
      },

      {
        img: "cafod2",
        url: "https://cafod.org.uk/"
      },
      {
        img: "sciaf2",
        url: "https://www.sciaf.org.uk/"
      },
      {
        img: "trocalre2",
        url: "https://www.trocaire.org/"
      },
      {
        img: "eurounion2",
        url: "https://europa.eu/"
      }
    ],

    items: [
      { title: "Home", icon: "mdi-home-city", to: "/" },
      { title: "News", icon: "mdi-newspaper", to: "/news" },
      { title: "Gallery", icon: "mdi-image-multiple", to: "/gallery" },
      { title: "Pastoral", icon: "mdi-book-cross", to: "/pastoral" },
      { title: "Parishes", icon: "mdi-church", to: "/structure/parishes" },
      { title: "vicariate", icon: "mdi-domain", to: "/structure/vicariate" },
      {
        title: "Social and Dev't",
        icon: "mdi-account-multiple",
        to: "/social-and-development"
      },
      { title: "About Us", icon: "mdi-information", to: "/about" },
      { title: "Contact Us", icon: "mdi-handshake", to: "/contact-us" }
    ],
    itemss: [
      { title: "Pastoral Activity", to: "/pastoral" },
      { title: "Social & Dev't Activity", to: "/social-and-development" }
    ],
    itemsss: [
      { title: "Vicariate", to: "/structure/vicariate" },
      { title: "Parishes", to: "/structure/parishes" }
    ]
  }),
  methods: {
    // look() {
    //   console.log("this function is ...");
    // },
    navigate(url) {
      this.$router.push(url);
    },
    onAbout() {
      this.$router.push("/about");
    }
  },
  components: {
    customFooter
  }
};
</script>
