<template>
  <v-app dark>
    <div class="__nuxt-error-page">
      <div class="error">
        <v-img
          height="100"
          width="100"
          :src="require('~/assets/img/reallog.png')"
        ></v-img>
      </div>
      <div
        class="my-5 font-weight-black text-sm-h6 text-md-h5 text-lg-h4 text-xl-h3 description"
      >
        An Error Occured Please Go Back To Home
      </div>
      <div>
        <nuxt-link to="/">Home Page</nuxt-link>
      </div>
    </div>
  </v-app>
</template>
<style scoped>
.__nuxt-error-page {
  padding: 1rem;
  background: #f7f8fb;
  color: #47494e;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: sans-serif;
  font-weight: 100 !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.__nuxt-error-page .error {
  max-width: 450px;
  border-radius: 50%;
}
.__nuxt-error-page .title {
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 15px;
  color: #47494e;
  margin-bottom: 8px;
}
.__nuxt-error-page .description {
  color: #1f51e6;
  /* line-height: 21px; */
  margin-bottom: 10px;
}
</style>
<script>
export default {
  layout: "empty"
};
</script>
