<template>
  <v-container>
    <v-row align="center" align-content="center" justify="center" class="my-5 pa-0">
      <v-col cols="12" sm="8">
        <div class="my-5 main--text text-left font-weight-bold text-h3">About Us</div>
        <p
          class="text-justify"
        >Apostolic Vicariate of Soddo is one of 13 canonical
        jurisdictions of the Ethiopian Catholic Church. It
        encompasses seven administrative zones (Wolayta,
        Gamo, Gofa, Dawuro, South omo, Konso and Part
        of Segen area People) and Konta and Basketo
        special Woreds all of which are within the south
        Peoples Regional State.
        <br> Apostolic vicariate of Soddo borders Hawassa
        vicariate in the East and South East, Vicariate of
        Jimma Bonga in the West, Hosanna Vicariate in
        the North and Kenya in the South. Data obtained
        from the regional Bureau of Finance and Economic
        Development Shows that the total area under Soddo
        Apostolic vicariate is estimated to be 53,010 km2
        and the total population of the area under the
        vicariate is estimated to be 6.84 million.The
        vicariate has a long history of presence responding
        to spiritual and social needs of people in its
        operational area. The vicariate has been playing a
        pivotal role in supporting development interventions
        in the area.
        <br> The vicariate passed through various institutional
        transformations before taking its current name and
        geographic configuration. The prefecture Apostolic
        of Soddo Hosanna was established by the Apostolic
        constitution on Feb.13, 1940, with territory taken
        from the Apostolic vicariate of Neghele and was
        later promoted to the status of Vicariate Apostolic
        on October 15, 1982.Finally, Soddo Apostolic
        Vicariate was formed in February 2010 following
        the stepping up/multiplication of the former Soddo-Hosanna Apostolic vicariate into independent
        vicariates of Soddo and Hosana.
        The vicariate went through a dynamic process of
        transformation over the years expanding its socio
        pastoral and development work in terms of thematic
        areas of engagement.</p>
        <div
          class="mt-10 mb-4 font-weight-bold text-center text-uppercase text-h5"
        >
          where we work
        </div>
        <v-img class="mb-15" :src="require(`~/assets/img/bigmap.png`)"></v-img>

        <div class="my-5 main--text text-h4 font-weight-bold">Our Vission</div>
        <p class="text-justify">
          To realize the society where the spiritual, physical, socioeconomic
          and cultural needs of the people are met and where peoples are in
          harmony solidarity, equality, love, justice, and peace.
        </p>
        <div class="my-5 main--text text-h4 font-weight-bold">Our Mission</div>

        <p class="text-justify text-capitalize">
          Promotion of Integral Human Development to ensure the spritual and
          socio-economic well-being of the people through evangelization and
          socio-pastorial and development services.
        </p>

        <div class="my-5 main--text text-h4 font-weight-bold">Our Core Values</div>
        <v-list>
          <li>Dignity of the human person</li>
          <li>Preferential options for the poor</li>
          <li>Solidarity</li>
          <li>Stewardship</li>
          <li>Subsidiary</li>
          <li>Common good</li>
        </v-list>
        <div class="my-5 main--text text-h4 font-weight-bold">Our Vission</div>
        <p
          class="text-justify"
        >To realize the society where the spiritual,
        physical, socioeconomic and cultural needs
        of the people are met and where peoples are
        in harmony solidarity, equality, love,
        justice, and peace.</p>
        <div class="my-5 main--text text-h4 font-weight-bold">A Resource You Can Trust</div>
        <p
          class="text-justify"
        >Catholic Answers works each day to ensure our content is faithful to the Magisterium. Our seven staff apologists have decades of practice in apologetics, and several hold advanced degrees in theology and philosophy. We maintain a broad list of associates (clergy and laymen) who are experts in the fields of liturgy, history, bioethics, theology, philosophy, canon law, and more. We have close friendships with members of the Church hierarchy across the United States and in Rome</p>
        <div class="my-5 main--text text-h4 font-weight-bold">Historical Note </div>
        <p
          class="text-justify"
        >The Prefecture Apostolic of Soddo Hosanna was established by the Apostolic Vicariate of Neghelli. It was promoted to the status of Vicariate Apostolic on October 15,1982. Due to the number of Christians, the Vicariate is multiplied in to two; Soddo and Hosanna Vicariates. The Apostolic Vicariate of Soddo was established in February 2010 by the Holy See.</p>
        <div class="my-5 main2--text text-h5 font-weight-bold">Extent:</div>
        <p class="text-justify">
          The Vicariate Apostolic of Soddo comprises Wolayita Zone, Dawro Zone, Game Gofa Zone, South Omo Zone, Seghen People Zone and Special Zone of Konso; all in Southern Nations Nationalities and Peoples Region.
          <br> Approximate figures:
          <br> Area: 45,500 sq. Km
          <br> Population: 5,4332,879
          <br> Catholics Baptized: 191,658
        </p>
        <div class="my-5 main2--text text-h5 font-weight-bold">Background Information:</div>
        <div class="my-5 main2--text text-h6 font-weight-bold">Ordinary:</div>
        <p class="text-justify">
        H.E. Bishop Tsegaye Keneni
        <br> Birth Place: Metcha Borodo
        <br> Birth Date: Nov. 23/1943
        <br> Appointed Bishop: Oct. 11/2013
        <br> Consecrated at Soddo: Nov. 24/2013
        <br> Residence: Soddo
        <br> Addresses
        <br> P.O.Box 132, Wolaita Soddo
        <br> Tel: 00.251.046.551.20.61
        <br> Fax: 00.251.046.551.20.63
        <br> Email: kenenid@gmail.com
        </p>
        
        <div class="my-5 main--text text-h4 font-weight-bold">Our Core Values</div>
         <v-list>
           <li>Dignity of the human person</li>
           <li>Preferential options for the poor</li>
           <li>Solidarity</li>
           <li>Stewardship</li>
           <li>Subsidiary</li>
           <li>Accountability and transparency</li>
           <li>Impartiality</li>
           <li>Selflessness</li>
           <li>Collaboration</li>
           <li>Quality of service</li>
         </v-list>
        <div class="my-5 main2--text text-h5 font-weight-bold">Be Prayfull</div>
        <v-list>
          <li>Shared liturgical life</li>
          <li>Personal commitment to interior prayer</li>
          <li>Daily prayer for and with each other</li>
        </v-list>
        <div class="my-5 main2--text text-h5 font-weight-bold">Be Personal</div>
        <v-list>
          <li>Treat others how you like to be treated</li>
          <li>List with empathy</li>
          <li>Reverence the other as a fellow child of God</li>
        </v-list>
        <div class="my-5 main2--text text-h5 font-weight-bold">Be Charitable</div>
        <v-list>
          <li>Desire the good of the other in thoughts, words, and deeds</li>
          <li>Help one another with a generous spirit</li>
        </v-list>
        <div class="my-5 main2--text text-h5 font-weight-bold">Be Collaborative</div>
        <v-list>
          <li>Seek opportunities for dialogue</li>
          <li>Share your knowledge</li>
          <li>Accept feedback with docility</li>
          <li>Look for ways to cooperate with other apostolates</li>
        </v-list>
        <div class="my-5 main--text text-h4 font-weight-bold">Working principles and Approaches</div>
        <p class="text-justify">
          People centeredness in the choice of activity and service options
          seeking to promote initiatives aimed at social equality and justice.
        </p>
        <v-list>
          <li>Acting with economic and social responsibility balancing demands.</li>
          <li>
            Protecting the human and natural endowments in the choice of
            programs.
          </li>
          <li>
            Strengthening competencies of partners in their conflict prevention
            and resolution.
          </li>
          <li>Cause-related marketing and business in social investing.</li>
          <li>
            Working together in close partnership and engagement with local
            counterparts, etc.
          </li>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  head: {
    title: "About Us" || "",
    meta: [
      {
        charset: "utf-8"
      },
      {
        name: "viewport",
        content: "width=device-width, initial-scale=1"
      },
      {
        hid: "description",
        name: "description",
        content: "about apostolic vicariate of soddo"
      }
    ],
    link: [
      {
        rel: "icon",
        type: "image/x-icon",
        href: "/favicon.png"
      }
    ]
  }
};
</script>
