<template>
  <div>
    <scrollCard />
    <emGallery />
  </div>
</template>

<script>
// import Gallery from "vue-cover-gallery";
import scrollCard from "~/components/scrollCard";
import emGallery from "~/components/emGallery";

export default {
  components: {
    emGallery,
    scrollCard
  },
  mounted() {
    this.setup();
  },
  methods: {
    setup() {
      this.$store.dispatch("news/getNews");
      this.$store.dispatch("vacannounce/getNotices");
    }
  }
};
</script>
