<template>
  <v-row align="center" align-content="center" justify="center" class="my-5 pa-0">
    <v-col class="px-5" cols="12" sm="8">
      <div class="my-5 main--text text-left font-weight-bold text-h3">Health Program</div>

      <p class="text-justify">
        Ethiopian catholic church(ECC-SDCO of Soddo
        renders health service mainly to the poor,
        marginalized and most underprivileged ones in the
        area of where we work reaching directly or
        indirectly through health institution with the goal
        of promoting integral human development through
        health care service
        Health program is one of the social institutions
        which designed to meet the objectives of the Church
        and needy community through the provision of
        quality health service in the jurisdiction. All the
        activities are being implemented in line with the
        countries development policy and in integration
        with governmental and relevant non-governmental
        organizations. Under this program Dubbo St.Mary
        primary hospital, Mokinsa St.Anna health clinic
        center, konso karat hospital and other health
        institution playing key role in the delivery of major
        health services such as curative, preventive and
        rehabilitative.
      </p>

      <div class="my-3 text-left font-weight-bold text-h5">General Objective:</div>
      <p class="text-justify">
        Inspired by the example of Jesus Christ and guided
        by the catholic social and ethical teaching, the ECC-
        SDCO of Soddo Health care service to fulfill the
        church's mission of healing ministry and improve
        the health status of people specially the poor and
        marginalized women and children by delivering
        holistic health care.
      </p>

      <div class="my-3 text-left font-weight-bold text-h5">Scope</div>

      <p class="text-justify">
        Preventive and curative health care services primary
        health care(Public Health Education, Proper
        Nutrition, Clean Water and sanitation, maternal
        and children Health care, Immunization, youth
        reproductive health and accessible treatment and
        drug provision)
        Advanced Health care interventions such as major
        surgeries.
        Provision of sustainable primary health care
        service
        Up-grade and strengthen health clinics to the
        next level
      </p>
      <v-list class="ml-4">
        <li>
          Provision of sustainable primary health care
          service
        </li>
        <li>
          Up-grade and strengthen health clinics to the
          next level
        </li>
        <li>
          Establish and strengthen integrated community
          based MCH service
        </li>
        <li>
          Strengthen basic curative care and management
          of major chronic conditions
        </li>
        <li>
          Develop an ongoing capacity building for health
          institutions and professionals
        </li>
        <li>
          Support hygiene and environmental health
          service provision
        </li>
        <li>
          Train local community, religious leaders, elders,
          school youths, and important community
          association on abstinence, faithfulness and social
          mobilization on prevention and control of
          HIV/AIDS, etc.
        </li>
      </v-list>
      <div class="my-3 main--text text-left font-weight-bold text-h4">Health Facilities</div>
      <div class="my-3 text-left font-weight-bold text-h5">Dubbo St. marry primary Hospital</div>
      <p class="text-justify">
        Dubbo St. marry primary Hospital is one of the three hospitals in Wolaita zone and founded on the premise of reducing the prevailing health opponents occurring in Boloso sore district & Wolaita zone and nearby zones. It is in Boloso sore Woreda, Wolaita Zone, Southern Nationalities and people Regional Government at 420 Km on southwest of Addis Ababa. The Hospital has been upgraded from the former health institution, Dubbo special Maternal and Child health care. The hospital became operational since 2002 under the signed agreement among regional health, regional finance Authorities and Soddo vicariate with overall objective of improving health status of the general population given to mothers and children to decrease maternal, infant, and children's morbidity and mortality.
        The catchments area for the curative health services of St. Mary's Dubbo Hospital covers a population of 253,698, Boloso Sore Woreda, where there is one government health center in Areka and five health stations. In the bordering regions, Kambata-Tembaro and Dawro (population: about 2 million people) there are no other hospitals and more than 50% of the patients are coming from these two districts.
      </p>

      <v-card class="rounded-xl my-15" elevation="16">
        <v-carousel
          cycle
          style="width:100%"
          hide-delimiter-background
          show-arrows-on-hover
          hide-delimiters
        >
          <v-carousel-item
            v-for="(pic, i) in pics"
            :key="i"
            :src="require(`~/assets/img/dubbohealth${pic}.jpg`)"
          ></v-carousel-item>
        </v-carousel>
      </v-card>

      <div class="my-3 text-left font-weight-bold text-h5">Mokonissa St.Anna health Center</div>
      <p class="text-justify">
        Mokonissa St. Anna health Center is established on the premises of reducing the prevailing health opponents occurring in Mokonissa village in particular and the nearby villages as a whole.
        Although the health station is appeared to the community recently in comparison to the rest health institutions of the vicariate, it has made sound input in improving the poor health condition occurring in the district and zone.
        Being an institute in the health infrastructure of the district and zone, is giving an integrated curative and preventive health services both inside the health station and its catchments kebeles.
        The institution is working in close collaboration with the Woreda Health office and with all other governmental and nongovernmental organization in the area. The health station activity is mainly focusing on PHC services like MCH, Delivery, EPI, Health education, and basic laboratory services as well as on diagnosing and treating of common communicable diseases. The Clinic provides its service both in the form of static and outreach system within 4 kebeles (Gacheno, Tabba, Mokonissa Woyige, and Damot Mokonissa). Lack of health education, poor sanitation, insufficient food and preventable infectious diseases, are the major factors in the state of health of the population.
        As evidenced from the statistics, malaria, eye diseases, diarrhea, intestinal parasites, especially Amoebiasis and Giardia mainly occurred due to lack of clean safe water supply are other serious health problems in the area.
        With the above mentioned health problems mothers and children are mainly affected and they are encompassing the major proportion of the population.
        At each MCH programme mothers and children should be provided with essential care through outreach service. Like EPI, GM, vit-A supplementation. The outreach sites are 7 in total out of which one site is inside the clinic conducted once in a month while the rest are in rural villages. Approximately about 10 ANC women are seen in each day of in the above-mentioned catchments area.
        Mokonissa St. Anna sisters who are found in 5 different areas in Ethiopia (Mokonissa at SNNPRS, Degahamuse at Tigiray Region, Arbaba at Amhara region, Asela at Oromiya region and in Gamebella region) are well qualified and dedicated in rendering their spiritual and developmental services to the needy people in particular. Out of these the Mokonisa St. Anna Sisters community is found in Soddo Vicariate situated 400k.m south of Addis Ababa.
        With the tremendous help of God and with the charity obtained from the holy and blessed individuals, the performance of the sisters of Mokonisa is greatly benefiting people who deserve to be assisted. At the site there is one health station, which is rendering promotive, preventive, and curative health services to the population under its catchments area.
        Mokonissa health station was established in the compound of Mokonissa parish in 1978 G.C. It is one of the seven health institutions in the Apostolic Vicariate of Soddo.
        The health station has been serving the rural population being located at Mokonissa Village, Damot Gale woreda, Wolaitta Zone in Southern Nations Nationalities and Peoples Regional state. Geographically, Mokonssa health station situated 35 km far from both Soddo Hospital and Development Coordination Office of the Vicariate.
      </p>
      <v-card class="rounded-xl my-15" elevation="16">
        <v-carousel
          cycle
          style="width:100%"
          hide-delimiter-background
          show-arrows-on-hover
          hide-delimiters
        >
          <v-carousel-item
            v-for="(pic, i) in pics"
            :key="i"
            :src="require(`~/assets/img/mokonissahealth${pic}.jpg`)"
          ></v-carousel-item>
        </v-carousel>
      </v-card>
      <div class="my-3 text-left font-weight-bold text-h5">Buccama health station</div>
      <p class="text-justify">
        Buccama health station is established on the premises of reducing the prevailing health opponents occurring in Buccama village in particular and the nearby villages as a whole. All aspect of the project is managed by the Franciscan Missionary of our Lady Sisters who are running different types of religious and development programs in the Ethiopian Catholic Church.
        Although the health station is appeared to the community recently in comparison to the rest health institutions of the vicariate, it has made sound input in improving the poor health condition occurring in the district and zone.
        Being an institute in the health infrastructure of the district and zone, is giving an integrated curative and preventive health services both inside the health station and its catchments kebeles.
        The institution is working in close collaboration with the Woreda Health office and with all other governmental and nongovernmental organization in the area. The health station activity is mainly focusing on PHC services like MCH, Delivery, EPI, Health education, and basic laboratory services as well as on diagnosing and treating of common communicable diseases. The Clinic provides its service both in the form of static and outreach system within 4 kebeles (Kanaffa Godera, Buccama Fakaka, Buccama and Kutto Sorfella). Lack of health education, poor sanitation, insufficient food and preventable infectious diseases, are the major factors in the state of health of the population.
        As evidenced from the statistics, malaria, eye diseases, diarrhea, intestinal parasites, especially Amoebiasis and Giardia mainly occurred due to lack of clean safe water supply are other serious health problems in the area.
        With the above mentioned health problems mothers and children are mainly affected and they are encompassing the major proportion of the population.
        At each MCH programme mothers and children should be provided with essential care through outreach service. Like EPI, GM, vit-A supplementation, The outreach sites are 4 in total out of which one site is inside the clinic conducted once in a month while the rest are in rural villages. Approximately about 10 ANC women are seen in each day of in the above mentioned catchments area.
        Buccama health station was established in the compound of Buccama parish in 1978 G.C. It is one of the seven health institutions in the Apostolic Vicariate of Soddo.
        The health station has been serving the rural population being located at Buccama Village, Soddo Zuria woreda, Wolaitta Zone in Southern Nations Nationalities and Peoples Regional state of Ethiopia. Geographically, Buccama health station situated 35 km far from both Soddo Hospital and Development Coordination Office of the Vicariate.
      </p>
      <v-card class="rounded-xl my-15" elevation="16">
        <v-carousel
          cycle
          style="width:100%"
          hide-delimiter-background
          show-arrows-on-hover
          hide-delimiters
        >
          <v-carousel-item
            v-for="(pic, i) in pics"
            :key="i"
            :src="require(`~/assets/img/buccamahealth${pic}.jpg`)"
          ></v-carousel-item>
        </v-carousel>
      </v-card>
      <div class="my-3 text-left font-weight-bold text-h5">Humbo clinic</div>
      <p class="text-justify">
        Humbo clinic is one of the health institutions rendering health service to the community. It is established in the compound of Humbo parish in 1978G.C. All aspect of the project is managed by the Maids of poor Sisters who are running different types of religious and development programs in the Ethiopian Catholic Church.
        From the last five years morbidity report of the health clinic, it is clearly seen that due to adverse health situation existing in the project area cases like Malaria, intestinal parasitosis, malnutrition, diarrhea diseases and tuberculosis are still highly prevalent. To alleviate these adverse health situations the health clinic should provide quality curative health service. To provide quality health service the health clinic should have adequate and to the standard medicines and human resource. Generally the health clinic is working with the aim of decreasing mortality and morbidity in the catchments area, promoting health & improving quality of life.
      </p>
    </v-col>
  </v-row>
</template>
<script>
export default {
  layout: "customLayout",
  data() {
    return {
      pics: ["1", "2", "3", "4"]
    };
  }
};
</script>