<template>
  <div>
    <v-container>
      <v-row
        align="center"
        align-content="center"
        justify="center"
        class="my-5 pa-0"
      >
        <v-col cols="12" sm="8">
          <div class="my-5 main--text text-left font-weight-bold text-h4">
            Introduction To Social and Development Activities
          </div>
          <p class="text-justify">
            Apostolic Vicariate of Soddo (AVS) is a complex jurisdiction with
            immense geographical and ethnic scope. It is a vast and diverse
            region with almost 19.9 million people living across seven zones and
            two especial Woredas. It hosts over 33 out of 56 Southern Nations
            Nationalities and people. Towards journeying to achieve integral
            human development at the preset reality needs to ensure sustained
            inclusive growth in the region as elsewhere in the country. AVS has
            been making great effort to serve a wide range of community in the
            areas of Education, Health, Food Security, WASH, Emergency supports
            and Women empowerment through its sub branch offices and
            congregations. As for the last over 40 year the Vicariate has served
            the most vulnerable and marginalized communities members under its
            jurisdiction. In the last two to three years the Vicariate had gone
            through number of challenges due to weak performance in the areas of
            governance, communication, finance management, operations, programs
            development and fund raising. With serious commitment to improve
            this situation the office has done a serious organizational Capacity
            assessment in the last six months beside implementing its programs
            and projects. Following the capacity assessment it has produced a
            report of organizational Capacity assessment, where capacity
            improvement actions were recommended for each weakness.
          </p>
        </v-col>
      </v-row>
    </v-container>

    <div
      class="text-center py-16"
      style="background: linear-gradient(-145deg, rgb(217, 216, 232), rgb(234, 242, 249))"
    >
      <v-container>
        <div class="my-5 main--text text-left font-weight-bold text-h4">
          <p class="text-center">Sectors we are working on</p>
        </div>
        <div>
          <v-hover v-slot:default="{ hover }">
            <v-btn
              :class="`ml-2 mt-5 ${hover ? 'white--text' : ''}`"
              color="main"
              :outlined="Boolean(parseInt(`${hover ? 0 : 1}`))"
              rounded
              x-large
              @click="$vuetify.goTo('#education')"
              >Education</v-btn
            >
          </v-hover>
          <v-hover v-slot:default="{ hover }">
            <v-btn
              :class="`ml-2 mt-5 ${hover ? 'white--text' : ''}`"
              color="main"
              :outlined="Boolean(parseInt(`${hover ? 0 : 1}`))"
              rounded
              x-large
              @click="onClick"
              >Health</v-btn
            >
          </v-hover>
          <v-hover v-slot:default="{ hover }">
            <v-btn
              :class="`ml-2 mt-5 ${hover ? 'white--text' : ''}`"
              color="main"
              :outlined="Boolean(parseInt(`${hover ? 0 : 1}`))"
              rounded
              x-large
              @click="$vuetify.goTo('#food-security-and-humanitarian')"
              >Food Security & Humanitarian</v-btn
            >
          </v-hover>

          <v-hover v-slot:default="{ hover }">
            <v-btn
              :class="`ml-2 mt-5 ${hover ? 'white--text' : ''}`"
              color="main"
              :outlined="Boolean(parseInt(`${hover ? 0 : 1}`))"
              rounded
              x-large
              @click="$vuetify.goTo('#women-empowerment')"
              >Women Empowerment</v-btn
            >
          </v-hover>
        </div>
      </v-container>
    </div>
    <v-container>
      <v-row
        align="center"
        align-content="center"
        justify="center"
        class="my-5 pa-0"
      >
        <v-col cols="12" sm="8">
          <div
            class="my-5 main--text text-left font-weight-bold text-h4"
            id="education"
          >
            #Education
          </div>

          <p class="text-justify">
            Apostolic vicariate of Soddo started preaching gospel value and
            services through Pastoral and Social development activities for all
            mankind as whole. Education is one of the major programs that the
            church gives service to the community aiming for integral human
            development. Modern education started by the church in the area
            following the presence of Catholic Church in 1930.
          </p>
          <v-card class="rounded-xl my-15" elevation="16">
            <v-carousel
              cycle
              style="width:100%"
              hide-delimiter-background
              show-arrows-on-hover
              hide-delimiters
            >
              <v-carousel-item
                v-for="(pic, i) in 14"
                :key="i"
                :src="require(`~/assets/schools/${i + 1}.jpg`)"
              ></v-carousel-item>
            </v-carousel>
          </v-card>
          <div class="my-5 text-left font-weight-bold text-h6">
            Overall objective
          </div>
          <p class="text-justify">
            The overall objective of the schools is to provide basic and formal
            education, teachers and technical trainings for promoting integral
            human development. The vicariate has established kindergarten,
            primary first and Second cycle, secondary schools, kindergarten
            teachers training and vocational training centres. There are 4 high
            school, 3 primary schools, 26 kindergartens, 1 kindergarten teachers
            training and 2 vocational training center. All together there are 36
            educational institutions that provide educational service. The
            institutions provide the service for about 10,245 students every
            year. There are 277 (136 female) academic and administrative staff
            working in the schools and training centers. The institutions
            provide quality education. The schools and trainings centers are
            accessible for all regardless of sex, religion, race, economic
            status etc. They support poor children for school enrolment in order
            to enhance the accessibility to the institutions. It work to enable
            the students to qualify the national examinations easily with good
            results. They also work hard to produce morally and ethically
            competent students. As a result, there is very high reputation of
            the institutions among community and the government partners. Most
            of the institutions are located in Wolaita zones and the service in
            other zones and especial woredas is nonexistent or very low.
          </p>

          <div
            class="my-5 main--text text-left font-weight-bold text-h4"
            id="women-empowerment"
          >
            #Women Empowerment
          </div>

          <p class="text-justify">
            The Vicariate works on Gender as one of the development programs and
            as cross cutting issue with other programs to reduce the structural
            imbalance in women’s status and welfare through the empowerment of
            poor rural women to play a strategic role in their economic, social
            and cultural life. The programs aim at empowering poor rural women
            to participate in and benefit from economic activities and increased
            access and actively participate in decision making in their
            household and community level. We also focus on skill training for
            youths’/girls surround area after completion of high school. They
            face cultural, social and economic problems. These made them not to
            benefit from the poverty reduction initiatives of the country and
            the region. Women in the area are denied of their rights to access
            and make decisions over household properties. Benefits/ resources
            are not equally shared between husband and wife in all the areas.
          </p>

          <div
            class="my-5 main--text text-left font-weight-bold text-h4"
            id="food-security-and-humanitarian"
          >
            #Food security and Humanitarian
          </div>

          <p class="text-justify">
            The Vicariate runs food security and livelihood development of the
            people with focus on drought prone and food insecure areas. The
            agriculture and water development activities aim at drought risk
            reduction and building the resilience capacity of the vulnerable
            communities. The vicariate has initiated some emergency
            interventions and food security targeted activities. Currently there
            are 12 projects serving more than 86,458 HHs (estimate 432,290
            people) who directly benefit from it. (2020) Many woredas/ districts
            of the six zones and 5 special woredas are chronically food insecure
            and prone to vulnerability of shocks from drought and other hazards.
            There is chronic and transitional food insecurity in many parts of
            the Vicariate’s operational areas. The major causes of food
            insecurity are low/erratic rainfall, low agricultural production and
            productivity, population pressure, low and fragmented landholding
            and poor/no practice diversification of income sources. Crop
            production, livestock production, water supply and some income
            generating activities are main focus of the area in Wolaita,
            Gamogofa, Konso and Dawro zones. In pastoralist and agro-pastoralist
            areas like South omo zone and Konso, Derashe, restocking of animals
            and water access are main focus of livelihood.
          </p>

          <div class="my-5 text-left font-weight-bold text-h6">
            Main strategic Objectives
          </div>
          <p class="text-justify">
            Enhance production and productivity of agriculture Build the
            resilience capacity of the communities to climate changes
          </p>
          <div class="my-5 text-left font-weight-bold text-h6">Strategies</div>
          <p class="text-justify">
            <v-list>
              <li>
                Undertake socio-economic need assessment (social, financial,
                ecological, farming system, climate, water, and etc.,) of the
                target community;
              </li>
              <li>
                Promote community organizations (Informal groups like SHG/SILK,
                Coops, market linkage groups…) in the target community;
              </li>
              <li>
                Improve access to farm inputs and efficient storage system with
                technical support to the target community;
              </li>
              <li>
                Use small and large scale irrigation potentials for crop
                production.
              </li>
              <li>
                Promote organic farming and soil and water conservation works
                through support to nursery and tree plantation as well as forage
                grass improvement.
              </li>
              <li>
                Build the capacity of government animal health services through
                access and provision of equipment, household asset building by
                small ruminants, breed quality improvement in both pastoralist
                and non-pastoralist areas.
              </li>
              <li>
                Provide different trainings, experience sharing and awareness
                programs on the cause and effect of climate change
              </li>
              <li>
                Provide regular technical support for environmental
                rehabilitation in the target community;
              </li>
              <li>
                Introduce participatory environmental protection, rehabilitation
                and management strategy and planning together with stakeholders;
              </li>
            </v-list>
          </p>
          <p class="text-justify">
            The Vicariate also responds to any humanitarian crisis under its
            operation areas. The office has a humanitarian preparedness plan its
            focus areas and conducts rapid assessment and share with its
            partners to solicit funding to respond for the humanitarian crisis.
            The main objective of the humanitarian intervention is to save lives
            and minimize human suffering induced by natural and/or manmade
            disasters/crisis.
          </p>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.al {
  background: #f6f6f6;
}
.dark::-webkit-scrollbar {
  width: 5px;
}

.dark::-webkit-scrollbar-track {
  background: transparent;
}

.dark::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border: solid 3px #003592;
  border-radius: 7px;
}

.dark::-webkit-scrollbar-thumb:hover {
  background: #263238;
}
</style>

<script>
export default {
  methods: {
    onClick() {
      this.$router.push("/social-and-development/health");
    }
  }
};
</script>
