<template>
  <client-only>
    <v-layout column>
      <v-flex xs12 sm8 md6>
        <v-row>
          <v-col cols="12" md="4">
            <v-card class="mt-4" max-width="400">
              <v-sheet
                class="v-sheet--offset mx-auto"
                color="cyan"
                elevation="12"
                max-width="calc(100% - 32px)"
              >
                <v-sparkline
                  :labels="labels"
                  :value="this.$store.state.news.newsGraph"
                  color="white"
                  line-width="2"
                  padding="16"
                ></v-sparkline>
              </v-sheet>

              <v-card-text class="pt-0">
                <div
                  class="title font-weight-light mb-2"
                >Total: {{this.$store.state.news.news.length}} News</div>
                <div
                  class="subheading font-weight-light grey--text"
                >News In {{ new Date().getFullYear() }}</div>
                <v-divider class="my-2"></v-divider>
                <v-icon class="mr-2" small>mdi-alert-circle</v-icon>
                <span
                  class="caption grey--text font-weight-light"
                >graph shows only {{new Date().getFullYear()}} News</span>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="4">
            <v-card class="mt-4" max-width="400">
              <v-sheet
                class="v-sheet--offset mx-auto"
                color="cyan"
                elevation="12"
                max-width="calc(100% - 32px)"
              >
                <v-sparkline
                  :labels="labels"
                  :value="this.$store.state.messages.messageGraph"
                  color="white"
                  line-width="2"
                  padding="16"
                ></v-sparkline>
              </v-sheet>

              <v-card-text class="pt-0">
                <div
                  class="title font-weight-light mb-2"
                >Total: {{this.$store.state.messages.messages.length}} Messages({{this.$store.state.messages.newCount}} new)</div>
                <div
                  class="subheading font-weight-light grey--text"
                >Messages In {{ new Date().getFullYear() }}</div>
                <v-divider class="my-2"></v-divider>
                <v-icon class="mr-2" small>mdi-alert-circle</v-icon>
                <span
                  class="caption grey--text font-weight-light"
                >graph shows only {{new Date().getFullYear()}} messages</span>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="4">
            <v-card class="mt-4" max-width="400">
              <v-sheet
                class="v-sheet--offset mx-auto"
                color="cyan"
                elevation="12"
                max-width="calc(100% - 32px)"
              >
                <v-sparkline
                  :labels="labels"
                  :value="this.$store.state.gallery.photosGraph"
                  color="white"
                  line-width="2"
                  padding="16"
                ></v-sparkline>
              </v-sheet>

              <v-card-text class="pt-0">
                <div
                  class="title font-weight-light mb-2"
                >Total: {{this.$store.state.gallery.photos.length}} Photos in Gallery</div>

                <div
                  class="subheading font-weight-light grey--text"
                >Photos In {{ new Date().getFullYear() }}</div>
                <v-divider class="my-2"></v-divider>
                <v-icon class="mr-2" small>mdi-alert-circle</v-icon>
                <span
                  class="caption grey--text font-weight-light"
                >graph shows only {{new Date().getFullYear()}} photos</span>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="4">
            <v-card class="mt-4" max-width="400">
              <v-sheet
                class="v-sheet--offset mx-auto"
                color="cyan"
                elevation="12"
                max-width="calc(100% - 32px)"
              >
                <v-sparkline
                  :labels="labels"
                  :value="this.$store.state.vacannounce.noticeGraph"
                  color="white"
                  line-width="2"
                  padding="16"
                ></v-sparkline>
              </v-sheet>

              <v-card-text class="pt-0">
                <div
                  class="title font-weight-light mb-2"
                >Total: {{this.$store.state.vacannounce.notice.length}} vacancies and Announcement in Database</div>

                <div
                  class="subheading font-weight-light grey--text"
                >vacancies and Announcement In {{ new Date().getFullYear() }}</div>
                <v-divider class="my-2"></v-divider>
                <v-icon class="mr-2" small>mdi-alert-circle</v-icon>
                <span
                  class="caption grey--text font-weight-light"
                >graph shows only {{new Date().getFullYear()}} notices</span>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="4">
            <v-card class="mt-4" max-width="400">
              <v-sheet
                class="v-sheet--offset mx-auto"
                color="cyan"
                elevation="12"
                max-width="calc(100% - 32px)"
              >
                <div
                  class="py-4 text-center white--text font-weight-bold text-h3"
                >{{this.$store.state.parish.parishes.length}}</div>
              </v-sheet>

              <v-card-text class="pt-0">
                <div
                  class="title font-weight-light mb-2"
                >Total: {{this.$store.state.parish.parishes.length}} Parishes</div>

                <!-- <div
                  class="subheading font-weight-light grey--text"
                >Photos In {{ new Date().getFullYear() }}</div>-->
                <v-divider class="my-2"></v-divider>
                <v-icon class="mr-2" small>mdi-alert-circle</v-icon>
                <span
                  class="caption grey--text font-weight-light"
                >graph shows number of parishes up to {{new Date().getFullYear()}}</span>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-flex>
    </v-layout>
  </client-only>
</template>

<script>
import axios from "axios";
export default {
  layout: "admin_main",
  middleware: "auth-admin",

  data() {
    return {
      labels: [
        "jan",
        "feb",
        "mar",
        "apr",
        "may",
        "jun",
        "jul",
        "aug",
        "sep",
        "oct",
        "nov",
        "dec"
      ]
    };
  },
  mounted() {
    this.setup();
  },
  methods: {
    setup() {
      this.$store.dispatch("news/getNews");
      this.$store.dispatch("gallery/getPhotos");
      this.$store.dispatch("parish/getParishes");
      this.$store.dispatch("messages/getMessages");
      this.$store.dispatch("vacannounce/getNotices");
    }
    // async getSocial() {
    //   await axios
    //     .get(
    //       `https://cors-anywhere.herokuapp.com/https://graph.facebook.com/${this.fbName}?callback=?`
    //     )
    //     .then(res => {
    //       console.log(res);
    //     })
    //     .catch(err => console.log("this error new ", err));
    // }
  }
};
</script>

<style scoped>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>