<template>
  <div>
    <v-row align="center" align-content="center" justify="center" class="my-5 pa-0">
      <v-col cols="12" sm="8">
        <!-- <div class="my-5 main--text text-h4 font-weight-bold">Vicariate</div> -->
        <div class="my-5 main--text text-left font-weight-bold text-h3">Vicariate Structure</div>
        <p
          class="text-justify"
        >The Vicariate is named as “Apostolic Vicariate of Soddo.” The Vicariate is structured as the institutions in the Vicariate main compound and out in each parish. In the main compound there are the Bishop’s house comprising the Bishop’s office and the Residence of the Bishop. In the parishes there are Parish churches, Schools and health facilities (in few).</p>
        <v-img :src="require(`~/assets/img/structure.png`)"></v-img>
        <div class="my-5 main--text text-left font-weight-bold text-h5">Bishop’s office & Residence</div>
        <p
          class="text-justify"
        >The Bishop’s house in the Apostolic Vicariate of Soddo is located in Soddo just near the Cathedral Church. In the same building the bishop’s office and residence are accommodated. In the Bishop’s house number of Diocesan priests serving in the nearby parishes (Waja, Humbo, Bughe genetand Cathedral reside.</p>
        <div class="my-5 main--text text-left font-weight-bold text-h5">Coordination office</div>
        <p
          class="text-justify"
        >The coordination office of Apostolic Vicariate of Soddo is named as “Soddo Catholic Secretariate”. It is a socio-pastoral activities coordination office. There is one main socio-pastoral coordination office and 4 branch offices (Omorate, Jinka Arbaminch and Dubbo). Omorate and Jinka branch offices are directly administered under the responsibility of the Vicariate’s Socio-pastoral coordination, while Arbaminch and Dubbo branch offices are run by Spiritan (SCORE) and MSC (Cabrini Ethiopian mission).</p>
        <div class="my-5 main--text text-left font-weight-bold text-h5">Parishes</div>
        <p
          class="text-justify"
        >Ethiopian Catholic Church Apostolic Vicariate of Soddo (ECC-AVS) has 34 parishes and quasi parishes. There are all over 192,000 Catholic faithful, which is only 3.3% of the total population living in the jurisdiction. There are 8 women and 3 men’s congregations serving at different parishes in different socio-pastoral activities. There are 28 religious and 28 Diocesan priests, 46 religious women and 808 full time and volunteer Catechists servicing in the parishes, health facilities and schools.</p>
        <div class="my-5 main--text text-left font-weight-bold text-h5">Health Institutions</div>
        <p
          class="text-justify"
        >Ethiopian Catholic Church Apostolic Vicariate of Soddo (ECC-AVS) has 7 health institutions (A Hospital, 2 Health centers and 4 clinics. The institutions are located under the parishes of: Dubbo, Humbo, Mokonisa, Bukama, Bacho, Gesa Chere and Duga. They serve over 350,000 people every year.</p>
        <div class="my-5 main--text text-left font-weight-bold text-h5">Schools</div>
        <p
          class="text-justify"
        >Ethiopian Catholic Church Apostolic Vicariate of Soddo (ECC-AVS) over 36 schools (26 KGs, 3 primary schools, 4 high schools and 3 primary schools. They Serve over 10,245 children and youths every year.</p>
      </v-col>
    </v-row>
  </div>
</template>
